<template>
	<div class="ui secondary pointing menu">
	    <a class="item active" id="group-all" @click="groupActive(`all`)">All</a>                
	    <a class="item" v-for="group in groups" :key="group.id" :id="`group-${group.id}`" @click="groupActive(group.id)">{{ group.group_name }}</a>
	    <a class="ui item" @click="openModal(`addGroup`)">
	        Add Group
	    </a>
	    <div class="right menu">
	        <button class="ui button green" @click="openModal(`addProject`)" style="margin-bottom: 1rem">
	            New Project
	        </button>
	    </div>
	    <modal :type="`addGroup`" :form="form" @callback="addG">
	    	<p slot="title">New Group</p>
	    	<p slot="header">Insert data about your group</p>
	    	<div slot="content">
	    		<div class="required field">
	    		    <label>Group Name</label>
	    		    <input type="text" placeholder="Group Name" v-model="form.group_name">
	    		</div>
	    		<div class="field">
	    		    <label>Description</label>
	    		    <textarea rows="2" placeholder="description" v-model="form.description"></textarea>
	    		</div>
	    	</div>
	    </modal>
	    <modal :type="`addProject`" @callback="addP">
	    	<p slot="title">New Project</p>
	    	<p slot="header">Insert data about your project</p>
	    	<div slot="content">
	    		<div class="required field">
                    <label>Project Name</label>
                    <input type="text" name="project_name" placeholder="Project Name" v-model="form_project.project_name" >
                </div>
                <div class="required field">
                    <label>Description</label>
                    <textarea rows="2" name="description" placeholder="Description" v-model="form_project.description"></textarea>
                </div>
                <div class="field">
                    <label>Group</label>
                    <select class="ui search dropdown" v-model="form_project.group_id">
                        <option value="">Insert Group</option>
                        <option v-for="group in $store.state.groups.data" :key="group.id" :value="group.id">{{ group.group_name }}</option>
                    </select>
                </div>
	    	</div>
	    </modal>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import Modal from '../Modal';

	export default{
		data: function(){
			return{
				form:{
					group_name: '',
					description: '',
				},
                form_project:{
                    project_name:'',
                    description:'',
                    group_id:'',
                },
			}
		},
		methods: {
			...mapActions(['initGroups', 'openModal', 'addProject', 'addGroup']),
			groupActive(id){
				this.navClassActive(id);
				if (id == "all") {
					this.$store.commit('UPDATE_FILTER', '');
					//this.$store.state.projects.filter = '';
				} else {
					this.$store.commit('UPDATE_FILTER', id);
					//this.$store.state.projects.filter = id;
				}
			},
			navClassActive(id){
				$('#group-all').removeClass('active');
				for (var i = 0; i < this.groups.length; i++) {
					$('#group-'+this.groups[i].id).removeClass('active');
				}
				$('#group-'+id).addClass('active');
			},
			addP(){
				if (this.form_project.project_name == '' || this.form_project.description == '') {
					this.$noty.warning("Please fill the required field!");
				} else {
					let callback = this.addProject([this.$store.state.user.id, this.form_project]);
					callback.then(response => {
						this.refreshFormProject();
						this.$noty.success("Success Added Project");
						$('#addProject').modal('hide');
						console.log(response.response.data.errors);
					});
				}
			},
			addG(){
				if (this.form.group_name == '') {
					this.$noty.warning("Please fill the required field!");
				} else {
					let callback = this.addGroup([this.$store.state.user.id, this.form]);
					callback.then(response => {
						this.form.group_name = '';
						this.form.description = '';
						this.$noty.success("Success Added Group");
						$('#addGroup').modal('hide');
					})
				}				
			},
			refreshFormProject(){
				this.form_project.project_name = '';
				this.form_project.description = '';
				this.form_project.group_id = '';
				$('.ui.dropdown').dropdown('clear');
			}
		},
		created(){
			this.initGroups(this.$store.state.user.id);
			$('.ui.dropdown').dropdown();
		},
		components:{
			'modal': Modal
		},
		computed: {
			groups () {
				return this.$store.state.groups.data;
			}
		}
	}
</script>