<template>
	<div class="ui segment raised" style="min-height: 15rem">
      <div class="ui active inverted dimmer" v-if="is_loading">
        <div class="ui text loader">Loading</div>
      </div>
      <div name="list-project" class="ui middle aligned relaxed divided list selection">
          <router-link :to="{ path: `/projects/${project.project_id}` }" class="item" v-for="(project, index) in projects" :key="project.id" @click="routeProject(project.id)" v-if="filterProject(index)">
              <div class="right floated content mobile hidden">
                  as {{ project.role }}
                  <i class="user icon"></i>{{ project.project.member }}
              </div>
              <a class="ui avatar image red circular label">P</a>
              <div class="content">
                  <div class="header"><a>{{ project.project.project_name }}</a></div>
                  <p>{{ project.project.description }}</p>
              </div>
          </router-link	>
      </div>
    </div>
</template>

<script>
	import { mapActions } from 'vuex';

	export default{
		methods: {
			...mapActions(['initProjects']),
			filterProject(index){
				if (this.$store.state.projects.filter == '') {
					return true;
				} else if (this.projects[index].group_id == this.$store.state.projects.filter) {
					return true;
				} else {
					return false;
				}
			}
		},
		created(){
			this.initProjects(this.$store.state.user.id);
		},
		computed :{
			projects () {
				return this.$store.state.projects.data;
			},
			is_loading () {
				return this.$store.state.projects.is_loading;
			}
		}
	}
</script>