<template>
    <div class="three wide column mobile hidden" style="height: 100vh;border-right: 1px solid #dadada;background-color: #FaFaFa;padding: 0px">
        <div class="ui grid" style="height: 100%;margin: 0px">
            <div class="grey column">
                <div class="ui grid">
                    <div class="column" style="background-color: #fff">
                        <h3 class="ui header" v-if="isDataReady">
                            <i class="settings icon"></i>
                            <div class="content">
                                {{ project.project.project_name }}
                                <div class="sub header">{{ project.role }}</div>
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="ui left borderless grey inverted vertical menu" style="margin-top: 3rem" v-if="isDataReady">
                    <router-link :to="{name:'dashboard'}" class="item" >
                        <i class="window maximize icon"></i>
                        Dashboard                        
                    </router-link>
                    <router-link :to="{name:'user_stories'}" class="item" v-if="project.role != 'stackholder'">
                        <i class="grid layout icon"></i>
                        User Story
                    </router-link>
                    <router-link :to="{name:'sprints'}" class="item" v-if="project.role != 'stackholder'">
                        <i class="hourglass start icon"></i>
                        Sprint
                    </router-link>
                    <router-link :to="{name:'activityProject'}" class="item" v-if="project.role != 'stackholder'">
                        <i class="universal access icon"></i>
                        Activity
                    </router-link>
                    <router-link :to="{name:'labels'}" class="item" v-if="project.role != 'stackholder'">
                        <i class="bookmark icon"></i>
                        Label
                    </router-link>
                    <router-link  :to="{name:'report'}" class="item">
                        <i class="calendar icon"></i>
                        Report
                    </router-link>
                    <router-link  :to="{name:'setting'}" class="item">
                        <i class="settings icon"></i>
                        Setting
                    </router-link>
                </div>
            </div>            
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

	export default{
		/*methods: mapActions([
			'changeMenu'
		]),		*/
        data(){
            return{
                project: {},
                isDataReady: false,
            }
        },
		methods: {
            ...mapActions(['initProjects']),
			logout(){
				axios.post('api/v1/logout')
					.then(response => {
						this.$router.push('login');
					});
			}
		},
        mounted(){
            let callback = this.initProjects(this.$store.state.user.id);
            callback.then(response => {
                this.isDataReady = false;
                for (var i = 0; i < response.length; i++) {
                    if (response[i].project_id == this.$route.params.projectId) {
                        this.project = response[i];
                        this.isDataReady = true;
                        break;
                    }
                }
            })
        }
	}
</script>