<template>
    <div class="ui modal" :id="type">
        <i class="close icon"></i>
        <div class="header">
            <slot name="title"></slot>
        </div>
        <div class="content" :class="{scrolling: isScrolling}" style="min-height:400px">
            <div class="description">
                <div class="ui header" v-show="isHeader">
                	<slot name="header"></slot>
                    <div class="sub header">
                        <slot name="subheader"></slot>
                    </div>
                </div>
                <div class="ui form">
                	<slot name="content"></slot>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                {{ btnCancel }}
            </div>
            <div class="ui positive right labeled icon button" @click="onClick" v-if="isPositive">
                {{ btnPositive }}
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>

<script>
	import { mapActions } from 'vuex';

	export default{
		props:{
			type: {

            }, 
            form:{
            }, isHeader: {

            }, isScrolling:{

            }, isPositive:{
                default: true,
            },
            btnCancel: {
                default: 'Cancel',
            },
            btnPositive: {
                default: 'Create',
            }
		},
		methods: {
			...mapActions(['addGroup']),
			onClick(){
    //             let slot = '';
				// if (this.type == "addGroup") {
				// 	this.addGroup([this.$store.state.user.id, this.form]);
    //                 slot = 'group';
				// }
    //             if (this.type == "addProject") {
    //                 this.$emit('callback');
    //             }
    //             if (this.type == "addUserstory") {
    //                 this.$emit('callback');
    //             }
                this.$emit('callback');
			}
		}
	}
</script>