<template>
	<div name="navigasi" class="ui icon borderless menu" style="padding:0rem 1rem;margin:0px">          
	    <a class="ui icon item"><i class="lab icon">Agile</i></a>
	    <div class="right menu mobile hidden">
	        <router-link class="item" :to="{name:'home'}" :class="{active: $store.state.is_home}">Home</router-link>
	        <router-link class="item" :to="{name:'projects'}" :class="{active: $store.state.is_projects}">Projects</router-link>
	        <router-link class="item" :to="{name:'activity'}"  :class="{active: $store.state.is_activity}">Activity</router-link>
	        <router-link class="item" :to="{name:'groups'}" :class="{active: $store.state.is_groups}">Groups</router-link>
	        <div class="ui dropdown item">
	        	<img class="ui mini circular image" src="/images/avatar/people/Abraham.png">
	        	<div class="menu">
	        		<router-link :to="{name:'profile'}" class="item">
	        			Profile
	        		</router-link>
	        		<div class="item" @click="logout">
	        			Logout
	        		</div>
	        	</div>
	        </div>
	        <!-- <a class="item">Profile</a>
	        <a class="item" @click="logout">Logout</a> -->
	    </div>   
	    <div class="ui right dropdown item mobile only">
	        <i class="sidebar icon"></i>
	        <div class="menu">
	            <a id="home" class="item">Home</a>
	            <a class="item">Project</a>
	            <a class="item">Activity</a>
	            <a class="item">Contact</a>
	            <a class="item">Profile</a>
	            <a class="item" @click="logout">Logout</a>
	        </div>
	    </div>       
	</div>
</template>

<script>
	export default{
		methods: {
			logout(){
				axios.post('logout')
					.then(response => {
						this.$router.push('login');
					});
			}
		},
		mounted() {
			$('.ui.dropdown').dropdown();
		}
	}
</script>