<template>
	<div id="sprint" class="ui four stackable link cards" style="margin:0px;">
	  	<div class="teal card" v-for="sprint in sprints" @click="details(sprint.id)">
	    	<div class="content">
	      		<div class="header">{{ sprint.sprint_name }}</div>
	      		<div class="meta">
	      		      <span>{{ sprint.date }}</span>
	      		      <span class="right floated time">{{ sprint.day }} days</span>
	      		    </div>
	      		<div class="description">
	       			{{ sprint.sprint_description }}
	      		</div>
	    	</div>	               	    	
      		<div class="extra content">
      		    <i class="check icon"></i>
      		    {{ sprint.userstory_done }} / {{ sprint.userstory_total }} user story
      		</div>
	  	</div>	   
	</div>
</template>

<script>
	import { mapActions } from 'vuex';

	export default{
		computed: {
			sprints: function() {
				return this.$store.getters.sprints;				
			}
		},
		methods: {
			...mapActions(['initSprints']),
		    details(sprintId){
		    	this.$router.push({name: 'sprint_details', params:{projectId: this.$route.params.projectId,sprintId: sprintId }});
		    }
		},
		created: function(){
			this.initSprints(this.$route.params.projectId);
		}
	}
</script>