<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar></left-navbar>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar></top-navbar>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">Activities</div>
			        </div>
			    </div>
			    <div class="fourteen wide column" style="margin-top: 2rem;">
			        <div class="ui segments" style="max-height: 600px">
			            <div class="ui teal segment">
			                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
			                    <h3 class="ui left floated header">
									<i class="hourglass start icon"></i>
	    	                        <div class="content">
	    	                            Activity
	    	                            <div class="sub header">List of activity</div>
	    	                        </div>                                   
	    	                    </h3>
			                </div>
			                <div class="ui middle aligned divided list">
		    				  	<div class="item" v-for="data in $store.state.activities.data.slice(0,10)">
		    				    	<div class="right floated content">
		    				      		{{ data.activity_time }} ago
		    				    	</div>
		    				    	<img class="ui avatar image" src="/images/avatar/people/Abraham.png">
		    				    	<div class="content">
		    				      		<div class="header"><a href="">{{ data.user_name }}</a></div>
		    				      		{{ data.action }} <a>{{ data.type }}</a> in project <a>{{ data.project_name }}</a>
		    				    	</div>
		    				  	</div>
		    				</div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';
	import Datepicker from 'vuejs-datepicker';
	import SprintList from '../components/sprints/SprintList';

	export default{
		data: function(){
			return{

			}
		},
		methods: {
			...mapActions(['initActivities'])
		},
		mounted(){
			this.initActivities(this.$route.params.projectId);
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
			'datepicker': Datepicker,
			'sprint-list': SprintList,
		}
	}
</script>