<template>
	<div>		
		<top-navbar></top-navbar>
		<div name="konten" class="ui grid stackable black" style="padding:1rem 3rem;">
		    <div name="navigasi-group-project" class="sixteen wide column">
		    	<div class="ui teal padded segment">
		    		<h2 class="ui header">
						<i class="hourglass half icon"></i>
    	  	    		<div class="content">
    	  	      			Activity
    	  	      			<div class="sub header">List of activity</div>
    	  	    		</div>
    	  	  		</h2>
    				<div class="ui middle aligned divided list">
    				  	<div class="item" v-for="data in $store.state.activities.data.slice(0,10)">
    				    	<div class="right floated content">
    				      		{{ data.activity_time }} ago
    				    	</div>
    				    	<img class="ui avatar image" src="/images/avatar/people/Abraham.png">
    				    	<div class="content">
    				      		<div class="header"><a href="">{{ data.user_name }}</a></div>
    				      		{{ data.action }} <a>{{ data.type }}</a> in project <a>{{ data.project_name }}</a>
    				    	</div>
    				  	</div>
    				</div>
    			</div>
		    </div>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import GroupNavbar from '../components/projects/NavGroup';

	export default{
		data: function(){
			return{
				
			}
		},
		methods:{
			...mapActions(['changeMenu', 'initActivitiesUser']),
		},
		components:{
			'top-navbar':TopNavbar,
		},
		mounted: function () {
			this.changeMenu('activity');
			this.initActivitiesUser(this.$store.state.user.id);
		}
	}
</script>