<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar></left-navbar>
		<div class="thirteen wide column" id="root" style="padding:0rem">
			<top-navbar></top-navbar>
			<div class="ui" style="max-height:43rem" v-if="isDataReady">
				<div style="padding: 1rem 3rem 0rem 3rem;">
				    <div name="breadcrump" class="sixteen wide column">
				        <div class="ui breadcrumb">
				            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
				            <div class="divider">| </div>
				            <a href="" class="section">Project</a>
				            <div class="divider"> / </div>
				            <div class="active section"></div>
				        </div>              
				    </div>
				    <div class="fourteen wide column" style="margin-top: 0rem;">
				    	<div class="ui stackable two column grid" style="margin-top: 0rem">
				    	  	<div class="column">
				    	  		<div class="row">
				    	  			<div class="ui stackable three column grid">
				    	  				<div class="column">
				    	  					<div class="ui clearing center aligned red inverted secondary segment">
				    	  						<div class="ui statistic inverted">
				    	  						  	<div class="value">
				    	  						    	{{ total_member }}
				    	  						  	</div>
				    	  						  	<div class="label">
				    	  						    	Member
				    	  						  	</div>
				    	  						</div>
				    	  					</div>
				    	  				</div>
				    	  				<div class="column">
				    	  					<div class="ui clearing center aligned green inverted secondary segment">
				    	  						<div class="ui statistic inverted">
				    	  						  	<div class="value">
				    	  						    	{{ total_userStory }}
				    	  						  	</div>
				    	  						  	<div class="label">
				    	  						    	User Stories
				    	  						  	</div>
				    	  						</div>
				    	  					</div>
				    	  				</div>
				    	  				<div class="column">
				    	  					<div class="ui clearing center aligned blue inverted secondary segment">
				    	  						<div class="ui statistic inverted">
				    	  						  	<div class="value">
				    	  						    	{{ total_tasks }}
				    	  						  	</div>
				    	  						  	<div class="label">
				    	  						    	Tasks
				    	  						  	</div>
				    	  						</div>
				    	  					</div>
				    	  				</div>
				    	  			</div>
				    	  		</div>
				    	  		<div class="row">
				    	  			<div class="ui teal segment" style="margin-top: 1rem; min-height: 29rem">
				    	  				<h2 class="ui header">
			  								<i class="mail icon"></i>
					    	  	    		<div class="content">
					    	  	      			Message
					    	  	      			<div class="sub header">This is reminder message</div>
					    	  	    		</div>
					    	  	  		</h2>
			    	  	  		  		<div class="ui clearing basic segment pushable" style="height: 22rem">
			    	  	  			  		<div class="ui clearing basic segment">
			    	  	  		  	  			<div class="ui icon message" v-for="data in messages"  v-if="messages.length > 0">
			    	  	  		      			  <i class="inbox icon"></i>
			    	  	  		      			  <div class="content">
			    	  	  		      			    <div class="header">
			    	  	  		      			      {{ data.message }}
			    	  	  		      			    </div>
			    	  	  		      			    <p>{{ data.details }}</p>
			    	  	  		      			  </div>
			    	  	  		      			</div>
			    	  	  		      			<div style="height: 8rem" v-if="messages.length == 0">
							    	  	  		  <h2 class="ui center aligned icon header" style="margin-top: 2rem">
							    	  	  		    <i class="warning circle icon"></i>
							    	  	  		    Empty Messages.
							    	  	  		  </h2>
							    	  	  		</div>
			    	  	  			  		</div>
			    	  	  		  		</div>
				    	  			</div>
				    	  		</div>
				    	  	</div>

				    	  	<div class="column">
				    	  		<div class="row">
					    	  		<div class="ui clearing teal segment">
					    	  	  		<h3 class="ui header">
			  								<i class="hourglass half icon"></i>
					    	  	    		<div class="content">
					    	  	      			Sprint
					    	  	      			<div class="sub header">Overview latest sprint</div>
					    	  	    		</div>
					    	  	  		</h3>
					    	  	  		<div class="ui stackable column grid" v-if="sprints.length > 0">
					    	  	  			<!-- <div class="column">
							    	  	  		<donut-chart
							    	  	  			id="task"
							    	  	  			:data='taskData'
							    	  	  			colors='["#FF6384", "#36A2EB"]'
							    	  	  			style="width: 12rem; height: 12rem"
							    	  	  			>
							    	  	  		</donut-chart>
					    	  	  			</div> -->
					    	  	  			<div class="column">
							    	  	  		<donut-chart
							    	  	  			id="userstory"
							    	  	  			:data='usData'
							    	  	  			colors='["#FF6384", "#36A2EB", "#FFCE56"]'
							    	  	  			style="width: 12rem; height: 12rem"
							    	  	  			v-if="isUpdateUserstory">
							    	  	  		</donut-chart>
					    	  	  			</div>
					    	  	  		</div>
					    	  	  		<div style="height: 8rem" v-if="sprints.length == 0">
					    	  	  		  <h2 class="ui center aligned icon header" style="margin-top: 2rem">
					    	  	  		    <i class="warning circle icon"></i>
					    	  	  		    Empty Sprint
					    	  	  		  </h2>
					    	  	  		</div>
					    	  	  		<router-link router-link :to="{name:'sprints'}" v-if="project.role != 'stackholder'">
					    	  	  			<div class="ui right floated primary button">See detail</div>
					    	  	  		</router-link>				    	  	  		  	
					    	  		</div>
				    	  		</div>
				    	  		<div class="row">
					    	  		<div class="ui clearing teal segment" style="margin-top: 1rem">
					    	  	  		<h3 class="ui header">
			  								<i class="hourglass half icon"></i>
					    	  	    		<div class="content">
					    	  	      			Activity
					    	  	      			<div class="sub header">Last activity</div>
					    	  	    		</div>
					    	  	  		</h3>
	  				    	  	  		<div class="ui middle aligned divided list">
	  		  		    				  	<div class="item" v-for="data in $store.state.activities.data.slice(0,3)">
	  		  		    				    	<div class="right floated content">
					    				      		{{ data.activity_time }} ago
					    				    	</div>
					    				    	<img class="ui avatar image" src="/images/avatar/people/Abraham.png">
					    				    	<div class="content">
					    				      		<div class="header"><a href="">{{ data.user_name }}</a></div>
					    				      		{{ data.action }} <a>{{ data.type }}</a> in project <a>{{ data.project_name }}</a>
					    				    	</div>
	  		  		    				  	</div>
	  		  		    				</div>	  		  		    								    	  	  		
					    	  	  		<div style="height: 8rem" v-if="$store.state.activities.data.length == 0">
					    	  	  		  <h2 class="ui center aligned icon header" style="margin-top: 2rem">
					    	  	  		    <i class="warning circle icon"></i>
					    	  	  		    Empty Activity
					    	  	  		  </h2>
					    	  	  		</div>
					    	  	  		<router-link :to="{name:'activityProject'}" v-if="project.role != 'stackholder'">
				    	  	  		  		<div class="ui right floated primary button">See more</div>
					    	  	  		</router-link>
					    	  		</div>
				    	  		</div>
				    	  	</div>
				    	</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import jQuery from 'jquery'
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';
	import { DonutChart } from 'vue-morris';

	export default{
		data: function(){
			return{
				base_url: 'api/v1/',
				taskData: [
					{ label: 'Task Undone', value: 1},
					{ label: 'Task Done', value: 1},
				],
				usData: [
					{ label: 'userstory Todo', value: 1},
					{ label: 'userstory Doing', value: 1},
					{ label: 'userstory Done', value: 1},
				],
				total_member: 0,
				total_userStory: 0,
				total_tasks: 0,
				messages: [],
				sprint:[],
				isUpdateUserstory: true,
				project: {},
                isDataReady: false,
			}
		},
		methods:{
			...mapActions(['initActivities','initSprints','initProjects']),
			getMember(){
				axios.get(`projects/${this.$route.params.projectId}/members?type=count`)
					.then(response => {
						this.total_member = response.data.data;
					})
			},
			getUserStory(){
				axios.get(`projects/${this.$route.params.projectId}/userstories?type=count`)
					.then(response => {
						this.total_userStory = response.data.data;
					})
			},
			getTasks(){
				axios.get(`projects/${this.$route.params.projectId}/tasks?type=count`)
					.then(response => {
						this.total_tasks = response.data.data;
					})
			},
			getMessages(){
				axios.get(`projects/${this.$route.params.projectId}/messages`)
					.then(response => {
						this.messages = response.data.data;
					})
			},
			getLatestSprint(){
				axios.get(`projects/${this.$route.params.projectId}/sprints?type=latest`)
					.then(response => {
						this.sprint = response.data.data;
						this.usData[0].value = response.data.data.user_stories.todo;
						this.usData[1].value = response.data.data.user_stories.doing;
						this.usData[2].value = response.data.data.user_stories.done;

						this.isUpdateUserstory = false;
						this.$nextTick(() => {
							this.isUpdateUserstory = true;
						});							
					})
			}
		},
		mounted(){
			this.initActivities(this.$route.params.projectId);
			this.getMember();
			this.getUserStory();
			this.getTasks();
			this.getMessages();
			this.getLatestSprint();
			this.taskData[0].value = 0;
			this.taskData[1].value = 0;
			this.initSprints(this.$route.params.projectId);
			let callback = this.initProjects(this.$store.state.user.id);
			callback.then(response => {
			    this.isDataReady = false;
			    for (var i = 0; i < response.length; i++) {
			        if (response[i].project_id == this.$route.params.projectId) {
			            this.project = response[i];
			            this.isDataReady = true;
			            break;
			        }
			    }
			})
		},
		computed: {
			sprints: function() {
				return this.$store.state.sprints.data;
			}
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
			DonutChart
		}
	}
</script>