<template>
	<div>		
		<top-navbar></top-navbar>
		<div name="konten" class="ui grid stackable black" style="padding:1rem 3rem;">
		    <div name="navigasi-group-project" class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui teal segment">
                        <div class="ui clearing basic segment" style="margin-bottom:0px">
                            <h2 class="ui left floated header">
                                <i class="hourglass half icon"></i>
                                <div class="content">
                                    Groups
                                    <div class="sub header">List of Groups</div>
                                </div>
                            </h2>
                            <button class="ui icon labeled icon green right floated button mobile hidden" @click="openModal(`addGroup`)">
                                <i class="plus icon"></i>
                                Add Group
                            </button>                              
                        </div>
                        <div class="ui selection middle aligned divided list" style="margin-top:0px">
                            <div class="item" @click="openModalEx(data.id)" v-for="data in $store.state.groups.data" v-if="isUpdate">
                                <div class="right floated content">
                                    <div class="ui green label">
                                        <i class="idea icon"></i> {{ data.project_count }}
                                    </div>
                                </div>                          
                                <div class="content">
                                    <div class="header">
                                        <a href="">{{ data.group_name }}</a>                                  
                                    </div>
                                    {{ data.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>		    	
		    </div>
		</div>
        <modal :type="`addGroup`" :form="form" @callback="addG">
            <p slot="title">New Group</p>
            <p slot="header">Insert data about your group</p>
            <div slot="content">
                <div class="required field">
                    <label>Group Name</label>
                    <input type="text" placeholder="Group Name" v-model="form.group_name">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="2" placeholder="description" v-model="form.description"></textarea>
                </div>
            </div>
        </modal>
        <modal :type="`detailGroup`" :isHeader="false" :isPositive="false" btnCancel="Close">
            <p slot="title">Detail Group</p>
            <div slot="content">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <h3 class="ui header" v-if="tmpId != ''">
                            <div class="editable" v-if="!isUpdateName" @click="updateName(true)">
                                {{ form_update.group_name }}
                            </div>
                            <div class="ui fluid input" v-show="isUpdateName">
                                <input
                                    ref="etName"
                                    type="text"
                                    v-model="form_update.group_name"
                                    @blur="updateName(false)"
                                    style="padding:0.7rem">
                            </div>
                            <div class="sub header">
                                <div class="small editable" v-show="!isUpdateDescription" @click="updateDesc(true)">
                                    <p v-if="!form_update.description == ''">
                                        {{ form_update.description }}
                                    </p>
                                    <p v-else>
                                        Add description group...
                                    </p>
                                </div>
                                <div class="ui fluid input" v-show="isUpdateDescription">
                                    <input
                                        ref="etDesc"
                                        type="text"
                                        v-model="form_update.description"
                                        @blur="updateDesc(false)"
                                        placeholder="Add description group..."
                                        style="padding:0.5rem">
                                </div>
                            </div>
                        </h3>
                        <div class="field">
                            <label>List Projects</label>
                            <div class="ui selection middle aligned divided list" style="margin-top:0px">
                                <div class="item" v-for="data in selectedGroup.projects" v-if="tmpId != ''">
                                    <div class="right floated content">
                                        <div class="ui button red" @click="removeProject(data.id)">Remove</div>
                                    </div>                          
                                    <div class="content">
                                        <div class="header">
                                            <a href="">{{ data.project_name }}</a>                                  
                                        </div>
                                        {{ data.description }}
                                    </div>
                                </div>
                                <select id="select2" class="ui fluid search dropdown" v-model="projectId">
                                  <option value="">Insert Project</option>
                                  <option v-for="project in unGroupProjects" :value="project.project_id">{{ project.project.project_name }}</option>
                                </select>
                                <div class="ui button positive" style="margin-top:1rem" @click="addProject">
                                    Add Projects to Group
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="ui labeled icon pointing dropdown">
                            <div class="ui fluid red button">
                                Delete
                            </div>
                            <div class="menu">
                                <div class="header">
                                    Are you sure?
                                </div>                            
                                <div class="item" @click="removeGroup">
                                    <div class="ui positive right fluid button mini">
                                        Yes
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </modal>
	</div>
</template>

<style>
    .text{
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1.28571429em;
        text-transform: none;
        color: rgba(0, 0, 0, 0.87);
    }
    .small.editable{
        padding: 0.5rem;
    }
    .small.editable:hover{
        background-color: rgb(241, 244, 245);
        border-radius: 0.5rem;
    }

    .editable{
        padding: 0.7rem;
    }
    .editable:hover{
        background-color: rgb(241, 244, 245);
        border-radius: 0.5rem;
    }
</style>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
    import Modal from '../components/Modal';

	export default{
		data: function(){
			return{
				tmpId: '',
                form:{
                    group_name: '',
                    description: '',
                },
                form_update:{
                    group_name: '',
                    description: '',
                },
                isUpdateName: false,
                isUpdateDescription: false,
                isUpdate: true,
                projectId:'',
			}
		},
		methods:{
			...mapActions(['initGroups','changeMenu','openModal','addGroup','deleteGroup', 'initProjects','updateGroup','updateProject']),
            openModalEx(id){
                let self = this;
                this.tmpId = id;
                this.form_update.group_name = this.selectedGroup.group_name;
                this.form_update.description = this.selectedGroup.description;
                //this.openModal(`detailGroup`);
                $('#detailGroup').modal({
                    onHide: function() {
                        self.tmpId = '';
                    }
                }).modal("show");
            },
            addG(){
                if (this.form.group_name == '') {
                    this.$noty.warning("Please fill the required field!");
                } else {
                    let callback = this.addGroup([this.$store.state.user.id, this.form]);
                    callback.then(response => {
                        this.form.group_name = '';
                        this.form.description = '';
                        $('#addGroup').modal('hide');
                        this.$noty.success("Success Added Group");
                    })
                }
            },
            removeGroup(){
                let callback = this.deleteGroup([this.$store.state.user.id, this.tmpId]);
                callback.then(response => {
                    $('#detailGroup').modal('hide');                    
                })
            },
            updateName(state){
                this.isUpdateName = state;
                if (state) {
                    this.$nextTick(() => this.$refs.etName.focus())
                } else {
                    if (this.form_update.group_name == '') {
                        this.form_update.group_name = this.selectedGroup.group_name;
                        this.$noty.warning("Group name must be filled!");
                    } else {
                        this.isUpdate=false;
                        let callback = this.updateGroup([this.tmpId, this.form_update]);                        
                        callback.then(response => {
                            this.$nextTick(() => this.isUpdate = true)
                        });
                    }
                }
            },
            updateDesc(state){
                this.isUpdateDescription = state;
                if (state) {
                    this.$nextTick(() => this.$refs.etDesc.focus())
                } else {
                    this.isUpdate=false;
                    let callback = this.updateGroup([this.tmpId, this.form_update]);
                    callback.then(response => {
                        this.$nextTick(() => this.isUpdate = true)
                    });
                }
            },
            removeProject(projectId){
                let params = { group_id : null };
                let callback = this.updateProject([projectId, params]);
                callback.then(response => {
                    for (var i = 0; i < this.selectedGroup.projects.length; i++) {
                        if (this.selectedGroup.projects[i].id == projectId) {
                            for (var j = 0; j < this.$store.state.groups.data.length; j++) {
                                if (this.$store.state.groups.data[j].id == this.tmpId) {
                                    this.$store.state.groups.data[j].project_count -=1;
                                }                                
                            }
                            let tmp = { id:this.selectedGroup.projects[i].id, project: this.selectedGroup.projects[i]}                            
                            this.unGroupProjects.push(tmp)
                            this.selectedGroup.projects.splice(i,1);                            
                            this.isUpdate = false;
                            this.$nextTick(function () {
                                this.isUpdate = true
                            })
                        }
                    }
                })
            },
            addProject(){
                if (this.projectId == '') {

                } else {
                    let params = { group_id : this.tmpId };
                    let callback = this.updateProject([this.projectId, params]);
                    callback.then(response => {
                        //add project to group
                        for (var i = 0; i < this.unGroupProjects.length; i++) {
                            if (this.unGroupProjects[i].id == this.projectId) {
                                let tmp = { id: this.unGroupProjects[i].id, project_name: this.unGroupProjects[i].project.project_name, description: this.unGroupProjects[i].project.description};
                                this.selectedGroup.projects.push(tmp);
                                //delete project
                                this.unGroupProjects.splice(i,1);
                                break;
                            }
                        }
                        //menambah jumlah project
                        for (var j = 0; j < this.$store.state.groups.data.length; j++) {
                            if (this.$store.state.groups.data[j].id == this.tmpId) {
                                this.$store.state.groups.data[j].project_count +=1;
                            }
                        }
                        //update Data
                        this.isUpdate = false;
                        this.$nextTick(function () {
                            this.isUpdate = true
                        })
                        this.projectId = '';
                        $('#select2').dropdown('clear');
                    })
                }
            }
		},
		components:{
			'top-navbar':TopNavbar,
            Modal,
		},
		mounted: function () {
			this.changeMenu('groups');
            this.initGroups(this.$store.state.user.id);
            this.initProjects(this.$store.state.user.id);            
		},
        computed: {
            selectedGroup: function(){
                let data = {};
                for (var i = 0; i < this.$store.state.groups.data.length; i++) {
                    if (this.$store.state.groups.data[i].id == this.tmpId) {
                        data = this.$store.state.groups.data[i];
                        break;
                    }
                }

                return data;
            },
            unGroupProjects: function(){
                let data = [];
                for (var i = 0; i < this.$store.getters.projects.length; i++) {
                    if (this.$store.getters.projects[i].group_id == null) {
                        data.push(this.$store.getters.projects[i]);
                    }                    
                }
                return data;
            }
        }
	}
</script>