<template>
	<div>
		<top-navbar></top-navbar>
		<div name="konten" class="ui grid stackable" style="padding:2rem 3rem 0rem 3rem;">
		    <div class="sixteen wide column">
		    	<div class="ui stackable two column grid">
		    	  	<div class="column">
		    	  		<div class="row">
		    	  			<div class="ui teal segment">
		    	  				<div class="ui stackable three column grid">
		    	  					<div class="column">
		    	  						<div class="ui clearing left aligned red inverted secondary segment">
		    	  							<div class="ui small statistic inverted">
		    	  							  	<div class="value">
		    	  							    	{{ total_project }}
		    	  							  	</div>
		    	  							  	<div class="label">
		    	  							    	Projects
		    	  							  	</div>
		    	  							  	<i class="plane icon statisticIcon"></i>
		    	  							</div>
		    	  						</div>
		    	  					</div>
		    	  					<div class="column">
		    	  						<div class="ui clearing left aligned green inverted secondary segment">
		    	  							<div class="ui small statistic inverted">
		    	  							  	<div class="value">
		    	  							    	{{ total_userstory }}
		    	  							  	</div>
		    	  							  	<div class="label">
		    	  							    	User Stories
		    	  							  	</div>
		    	  							  	<i class="plane icon statisticIcon"></i>
		    	  							</div>
		    	  						</div>
		    	  					</div>
		    	  					<div class="column">
		    	  						<div class="ui clearing left aligned blue inverted secondary segment">
		    	  							<div class="ui small statistic inverted">
		    	  							  	<div class="value">
		    	  							    	{{ total_task }}
		    	  							  	</div>
		    	  							  	<div class="label">
		    	  							    	Tasks
		    	  							  	</div>
		    	  							  	<i class="plane icon statisticIcon"></i>
		    	  							</div>
		    	  						</div>
		    	  					</div>
		    	  				</div>
		    	  			</div>
		    	  		</div>
		    	  		<div class="row">
		    	  			<message-segment></message-segment>
		    	  		</div>
		    	  	</div>

					<!-- list projects -->
		    	  	<div class="column">
		    	  		<div class="row">
			    	  		<project-segment></project-segment>
		    	  		</div>
		    	  		<div class="row">
			    	  		<div class="ui clearing teal segment" style="margin-top: 1rem">
			    	  	  		<h2 class="ui header">
	  								<i class="hourglass half icon"></i>
			    	  	    		<div class="content">
			    	  	      			Activity
			    	  	      			<div class="sub header">Last activity</div>
			    	  	    		</div>
			    	  	  		</h2>
			    	  	  		<div class="ui middle aligned divided list" v-if="activities.length > 0">
	  		    				  	<div class="item" v-for="data,index in activities.slice(0,3)">
	  		    				    	<div class="right floated content">
			    				      		{{ data.activity_time }} ago
			    				    	</div>
			    				    	<img class="ui avatar image" src="/images/avatar/people/Abraham.png">
			    				    	<div class="content">
			    				      		<div class="header"><a href="">{{ data.user_name }}</a></div>
			    				      		{{ data.action }} <a>{{ data.type }}</a> in project <a>{{ data.project_name }}</a>
			    				    	</div>
	  		    				  	</div>
	  		    				</div>
	  		    				<div style="height: 8rem" v-if="activities.length == 0">
	  		    				  <h2 class="ui center aligned icon header" style="margin-top: 2rem">
	  		    				    <i class="warning circle icon"></i>
	  		    				    Empty Activity
	  		    				  </h2>
	  		    				</div>
	  		    				<router-link :to="{name:'activity'}">
		    	  	  		  		<div class="ui right floated primary button">See more</div>
	  		    				</router-link>
			    	  		</div>
		    	  		</div>
		    	  	</div>
		    	</div>
		    </div>
		</div>
	</div>
</template>

<style type="text/css">
	.statisticIcon {
	    position: absolute;
	    right: 0;
	    top: 1;
	    margin-top: 1rem !important;
	    margin-right: 1rem !important;
	    font-size: 3em !important;
	}
</style>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import MessageSegment from '../components/home/MessageSegment';
	import ProjectSegment from '../components/home/ProjectSegment';

	export default{
		data: function(){
			return{
				base_url: 'api/v1/',
				total_project: '',
				total_task: '',
				total_userstory: '',
			}
		},
		computed: {
			activities: function() {
			    return this.$store.state.activities.data;
			}
		},
		methods:{
			...mapActions(['changeMenu','initActivitiesUser']),
			getTotalProject: function () {
				axios.get('users/'+this.$store.state.user.id+'/projects?type=count')
					.then(response => {
						this.total_project = response.data.data;
					})
			},
			getTotalTask: function () {
				axios.get('users/'+this.$store.state.user.id+'/tasks?type=count')
					.then(response => {
						this.total_task = response.data.data;
					})
			},
			getTotalUserStory: function () {
				axios.get('users/'+this.$store.state.user.id+'/userstories?type=count')
					.then(response => {
						this.total_userstory = response.data.data;
					})
			}
		},
		created: function () {
			this.getTotalProject();
			this.getTotalTask();
			this.getTotalUserStory();
			this.changeMenu('home');
			this.initActivitiesUser(this.$store.state.user.id);
		},
		components:{
			'top-navbar':TopNavbar,
			'message-segment': MessageSegment,
			'project-segment': ProjectSegment,
		}
	}
</script>