<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar/>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar/>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">Labels</div>
			        </div>
			    </div>
			    <div class="ui grid">
				    <div class="six wide column" style="margin-top: 2rem;">
				    	<div class="ui segments" style="max-height: 600px">
				            <div class="ui teal segment">
				                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
				                    <h3 class="ui left floated header">
				                        <i class="settings icon"></i>
				                        <div class="content">
				                            Add Labels
				                            <div class="sub header"></div>
				                        </div>
				                    </h3>
				                    <div class="ui form">
				                    	<div class="field">
				                    		<label>Label Name</label>
				                    		<input type="text" placeholder="Insert Label Name" v-model="form_label.label_name">
				                    	</div>
				                    	<div class="field">
				                    		<label>Label Color</label>
				                    		<input type="text" placeholder="choose color" v-model="form_label.label_color" disabled="">
				                    	</div>
				                    	<div class="divider"></div>
						                <div class="header">
						                    <i class="tags icon"></i>
						                    Color
						                </div>
						                <div style="padding-left: 1rem">
						                    <div class="row">
						                        <a class="ui red circular label" @click="form_label.label_color='red'"></a>
						                        <a class="ui orange circular label" @click="form_label.label_color='orange'"></a>
						                        <a class="ui yellow circular label" @click="form_label.label_color='yellow'"></a>
						                        <a class="ui olive circular label" @click="form_label.label_color='olive'"></a>
						                        <a class="ui green circular label" @click="form_label.label_color='green'"></a>
						                        <a class="ui teal circular label" @click="form_label.label_color='teal'"></a>
						                    </div>
						                    <div class="row">
						                        <a class="ui blue circular label" @click="form_label.label_color='blue'"></a>
						                        <a class="ui violet circular label" @click="form_label.label_color='violet'"></a>
						                        <a class="ui purple circular label" @click="form_label.label_color='purple'"></a>
						                        <a class="ui pink circular label" @click="form_label.label_color='pink'"></a>
						                        <a class="ui brown circular label" @click="form_label.label_color='brown'"></a>
						                        <a class="ui grey circular label" @click="form_label.label_color='grey'"></a>
						                    </div>
						                    <div class="row">
						                        <a class="ui black circular label" @click="form_label.label_color='grey'"></a>
						                    </div>
						                </div>
						                <div class="ui fluid positive button" style="margin-top: 1rem" @click="addL">
						                	Add Label
						                </div>
				                    </div>
				                </div>
				            </div>		                
				        </div>
				    </div>
				    <div class="ten wide column" style="margin-top: 2rem;">
				        <div class="ui segments" style="max-height: 600px">
				            <div class="ui teal segment">
				                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
				                    <h3 class="ui left floated header">
				                        <i class="settings icon"></i>
				                        <div class="content">
				                            Labels
				                            <div class="sub header"></div>
				                        </div>
				                    </h3>
				                </div>
				                <div name="list user story" class="ui middle aligned divided pushable list" style="max-height: 450px">
									<div class="item" v-for="label in labels">	
										<div class="right floated content">
	                                        <div class="ui mini button red" @click="remove(label.id)">Remove</div>
	                                    </div>
									    <div class="content">
									        <div class="header">
									        	<div class="ui horizontal label" :class="label.label_color">{{ label.label_name }}</div>
									        </div>
									    </div>
									</div>
							    </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>	
		<div id="deleteModal" class="ui mini basic modal">
		  <div class="ui icon header">
		    <i class="archive icon"></i>
		    Are you sure to delete this label?
		  </div>
		  <div class="actions">
		    <div class="ui red basic cancel inverted button">
		      <i class="remove icon"></i>
		      No
		    </div>
		    <div class="ui green ok inverted button">
		      <i class="checkmark icon"></i>
		      Yes
		    </div>
		  </div>
		</div>	
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';

	export default{
		data(){
			return{
				form_label:{
					label_name: '',
					label_color: '',
				}
			}
		},
		methods:{
			...mapActions(['initLabels','addLabel']),
			addL(){
				if (this.form_label.label_name == '') {
					this.$noty.warning("Please insert label name!");
				} else if (this.form_label.label_color == '') {
					this.$noty.warning("Please choose label color!");
				} else {
					let callback = this.addLabel([this.$route.params.projectId, this.form_label]);
					callback.then(response => {
						this.form_label.label_name = '';
						this.form_label.label_color = '';
						this.$noty.success("Success add label!");
					})
				}
			},
			remove(labelId){
				let self = this;
				$('#deleteModal').modal({
					onApprove: function () {
						axios.delete(`labels/${labelId}`)
							.then(response => {
								for (var i = 0; i < self.labels.length; i++) {
									if (self.labels[i].id == labelId) {
										self.labels.splice(i,1);
										break;
									}
								}
							})
					}
				}).modal('show');
			}
		},
		mounted(){
			this.initLabels(this.$route.params.projectId);
		},
		computed: {
			labels(){
				return this.$store.state.labels.data;
			}
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
		}
	}
</script>