<template>
	<div class="bg">		
		<!-- <div class="ui teal one item inverted secondary menu" style="margin:0px;">
		  	<a class="item active">
		    	<i class="big home icon"></i>
		  	</a>
		</div> -->
		<div class="overlay">			
		  	<div class="ui stackable two column grid" style="height: 100%; margin:0px">
			    <div class="column" style="padding:0px; margin:auto;">
			    	<h1 class="ui inverted center aligned icon header">
			    	  	<i class="settings icon"></i>
			    	  	<div class="content">
			    	    	Agile Management
			    	    	<div class="sub header">Manage your project.</div>
			    	  	</div>
			    	</h1>
			    </div>
			    <div class="column" style="padding:0px; margin:auto; padding:1rem;" v-cloak>
			    	<div class="ui teal clearing segment">
			    	  	<h4 class="ui header">
			    	  		<div class="ui two column grid center">
			    	  			<div class="column">
			    	  				<button class="ui basic fluid button" @click="is_login=true" :class="{'blue': is_login}">Login</button>
			    	  			</div>
			    	  			<div class="column">
			    	  				<button class="ui basic fluid button" @click="is_login=false" :class="{'blue': !is_login}">Register</button>
			    	  			</div>
			    	  		</div>
			    	  	</h4>
			    		<form class="ui form" v-show="is_login">
			    		  	<div class="field" :class="{error : errors_login.username != null, disabled : is_loading}">
				    		    <label>Username or Email</label>
				    		    <input type="text" name="username" placeholder="Username or Email" v-model="form_login.username" required="">
			    		  	</div>
			    		  	<div class="field" :class="{error : errors_login.password != null, disabled : is_loading}">
				    		    <label>Password</label>
				    		    <input type="password" name="password" placeholder="Password" v-model="form_login.password">
			    		  	</div>
			    		  	<div class="ui teal button right floated" @click="auth" :class="{loading : is_loading}">
			    		  		<i class="icon sign in"></i>
			    		  		Login
			    		  	</div>
			    		</form>
			    		<form class="ui form" v-show="!is_login">
			    			<div class="field" :class="{error : errors_register.name != null, disabled : is_loading}">
				    		    <label>Name</label>
				    		    <input type="text" name="username" placeholder="Name" v-model="form_register.name" required="">
			    		  	</div>
			    		  	<div class="field" :class="{error : errors_register.username != null, disabled : is_loading}">
				    		    <label>Username</label>
				    		    <input type="text" name="username" placeholder="Username" v-model="form_register.username" required="">
			    		  	</div>
			    		  	<div class="field" :class="{error : errors_register.email != null, disabled : is_loading}">
				    		    <label>Email</label>
				    		    <input type="text" name="email" placeholder="Email" v-model="form_register.email" required="">
			    		  	</div>
			    		  	<div class="field" :class="{error : errors_register.password != null, disabled : is_loading}">
				    		    <label>Password</label>
				    		    <input type="password" name="password" placeholder="Password" v-model="form_register.password">
			    		  	</div>
			    		  	<div class="ui teal button right floated" @click="register" :class="{loading : is_loading}">
			    		  		<i class="icon sign in"></i>
			    		  		Register
			    		  	</div>
			    		</form>
			    	</div>
			    </div>
		  	</div>
		</div>
	</div>
</template>

<style>
	.bg{
		background-image: url('/images/background.jpg');
	    background-repeat: no-repeat;
	    background-position: center;
	    background-attachment: fixed;
    	background-size: cover;
		margin: 0px;
		height: 100vh;
	}
	.overlay{
		background-color: rgba(0, 0, 0, 0.7);
		height: 100%;
	}
</style>

<script>
	export default{
		data: function(){
			return{
				base_url: 'api/v1/',
				is_loading:false,
				form_login:{
					username:'',
					password:'',
				},
				form_register:{
					name:'',
					username:'',
					email:'',
					password:'',
				},
				errors_login:[],
				errors_register:[],
				is_login:true,
				is_fail:false,
			}
		},
		methods:{
			auth(){
				this.is_loading=true;
				axios.post('login',this.form_login)
				    .then(response => {
				        this.is_loading=false;
				        if (response.data.message == "success") {
				        	this.$noty.success("Success Login!");
				        	this.$store.state.user = response.data.data;
				        	this.$router.push('home');
				        } else {
				        	this.$noty.error("Username or Password not working!");
				        }
				    })
				    .catch(error => {
				        this.errors_login=error.response.data.errors;
				        this.is_loading=false;
				        this.showError(this.errors_login);
				    })
			},
			register(){
				this.is_loading=true;
				axios.post('users',this.form_register)
				    .then(response => {
				        this.is_loading=false;
				        this.$router.push('home');
				    })
				    .catch(error => {
				        this.errors_register=error.response.data.errors;
				        this.is_loading=false;
				        this.showError(this.errors_register);
				    })
			},
			showError(data){
				if (data.name != null) {
					this.$noty.error(data.name);
				}
				if (data.username != null) {
					this.$noty.error(data.username);
				}
				if (data.email != null) {
					this.$noty.error(data.email);
				}
				if (data.password != null) {
					this.$noty.error(data.password);
				}
			}
		},
		mounted(){
			$('.message .close')
			  .on('click', function() {
			    $(this)
			      .closest('.message')
			      .transition('fade')
			    ;
			  });
		},
	}
</script>