<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar></left-navbar>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar></top-navbar>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">Sprints</div>
			        </div>
			    </div>
			    <div class="fourteen wide column" style="margin-top: 2rem;">
			        <div class="ui segments" style="max-height: 600px">
			            <div class="ui teal segment">
			                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
			                    <h3 class="ui left floated header">
									<i class="hourglass start icon"></i>
	    	                        <div class="content">
	    	                            Notes
	    	                            <div class="sub header">List of notes</div>
	    	                        </div>                                   
	    	                    </h3>
			                    <!-- <button class="ui icon labeled icon green right floated button mobile hidden" title="Click to add new user story" @click="modal">
			                        <i class="plus icon"></i>
			                        Add Sprint
			                    </button>    -->                                 
			                    <button class="ui icon green right floated button mobile only">
			                        <i class="plus icon"></i>
			                    </button>
			                </div>
		                	<div id="sprint" class="ui four stackable link cards" style="margin:0px;">
		                	  	<div class="teal card" v-for="sprint in $store.state.sprints.data" @click="details(sprint.id)">
		                	    	<div class="content">
		                	      		<div class="header">Notes Name</div>
		                	      		<div class="meta">
		                	      		      <span>{{ sprint.date }}</span>
		                	      		      <span class="right floated time">{{ sprint.day }} days</span>
		                	      		    </div>
		                	      		<div class="description">
		                	       			{{ sprint.sprint_description }}
		                	      		</div>
		                	    	</div>
		                	  	</div>	   
		                	</div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';

	export default{
		data: function(){
			return{
				
			}
		},
		methods: {
			
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
		}
	}
</script>