<template>
	<div>		
		<top-navbar></top-navbar>
		<div name="konten" class="ui grid stackable black" style="padding:1rem 3rem;">
		    <div class="sixteen wide column">
		    	<div class="ui stackable two column grid">
		    		<div class="column">
		    			<div class="row">
		    				<div class="ui clearing teal padded segment">
			    				<div class="ui stackable two column grid" >
			    					<div class="column">
			    						<img class="ui circular centered small image" src="/images/avatar/people/Abraham.png">
			    					</div>		    					
			    					<div class="column">		    						
				    					<div class="ui form">		    	  	  			
						    	  	  		<div class="field">
						    	  	  			<label>Name</label>
						    	  	  			<div class="editable" v-show="!isUpdateName" @click="editName(true)">
						    	  	  				{{ form.name }}
						    	  	  			</div>
						    	  	  			<div class="ui fluid input" v-show="isUpdateName">
						    	  	  			  	<input
						    	  	  			  		ref="etName"
						    	  	  			  		type="text"
						    	  	  			  		v-model="form.name"
						    	  	  			  		@blur="editName(false)"
						    	  	  			  		style="padding:0.5rem">
						    	  	  			</div>
						    	  	  		</div>
						    	  	  		<div class="field">
						    	  	  			<label>Username</label>
						    	  	  			<div class="editable" v-show="!isUpdateUsername" @click="editUsername(true)">
						    	  	  				{{ form.username }}
						    	  	  			</div>
						    	  	  			<div class="ui fluid input" v-show="isUpdateUsername">
						    	  	  			  	<input
						    	  	  			  		ref="etUsername"
						    	  	  			  		type="text"
						    	  	  			  		v-model="form.username"
						    	  	  			  		@blur="editUsername(false)"
						    	  	  			  		style="padding:0.5rem">
						    	  	  			</div>
						    	  	  		</div>
						    	  	  		<div class="field">
						    	  	  			<label>Email</label>
						    	  	  			<div class="editable" v-show="!isUpdateEmail" @click="editEmail(true)">
						    	  	  				{{ form.email }}
						    	  	  			</div>
						    	  	  			<div class="ui fluid input" v-show="isUpdateEmail">
						    	  	  			  	<input
						    	  	  			  		ref="etEmail"
						    	  	  			  		type="text"
						    	  	  			  		v-model="form.email"
						    	  	  			  		@blur="editEmail(false)"
						    	  	  			  		style="padding:0.5rem">
						    	  	  			</div>
						    	  	  		</div>
					    	  	  		</div>
			    					</div>
			    				</div>		    	  	  		
			    	  		</div>
		    			</div>
		    			<div class="row">
		    				<div class="ui clearing teal padded segment" style="margin-top: 1rem">
			    				<h2 class="ui header">
	  								<i class="privacy icon"></i>
			    	  	    		<div class="content">
			    	  	      			Change Password
			    	  	    		</div>
			    	  	  		</h2>		    						
		    					<div class="ui centered form">		    	  	  			
				    	  	  		<div class="field">
				    	  	  			<label>Old Password</label>
				    	  	  			<input type="password" placeholder="Old Password" v-model="form_password.old_password">
				    	  	  		</div>
				    	  	  		<div class="field">
				    	  	  			<label>New Password</label>				    	  	  			
				    	  	  			<input type="password" placeholder="New Password" v-model="form_password.new_password">
				    	  	  		</div>
				    	  	  		<div class="field">
				    	  	  			<label>Confirm New Password</label>				    	  	  			
				    	  	  			<input type="password" placeholder="Confirm New Password" v-model="form_password.confirm_password">
				    	  	  		</div>
				    	  	  		<div class="field">
				    	  	  			<div class="ui positive button" @click="changePassword">Change Password</div>
				    	  	  		</div>
			    	  	  		</div>	    	  	  		
			    	  		</div>
		    			</div>
		    		</div>
		    		<div class="column">
			    		<div class="ui teal padded segment" v-if="isUpdateActivity">
				    		<h2 class="ui header">
								<i class="hourglass half icon"></i>
		    	  	    		<div class="content">
		    	  	      			Activity
		    	  	      			<div class="sub header">List of activity</div>
		    	  	    		</div>
		    	  	  		</h2>
		    				<div class="ui middle aligned divided list">
		    				  	<div class="item" v-for="data in activities.slice(0,10)">
		    				    	<div class="right floated content">
		    				      		{{ data.activity_time }} ago
		    				    	</div>
		    				    	<img class="ui avatar image" src="/images/avatar/people/Abraham.png">
		    				    	<div class="content">
		    				      		<div class="header"><a href="">{{ data.user_name }}</a></div>
		    				      		{{ data.action }} <a>{{ data.type }}</a> in project <a>{{ data.project_name }}</a>
		    				    	</div>
		    				  	</div>
		    				</div>
		    			</div>
			    	</div>	
		    	</div>		    	
		    </div>
		</div>
	</div>
</template>

<style>
	.editable{
		padding: 0.5rem;
	}
	.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}
</style>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import GroupNavbar from '../components/projects/NavGroup';

	export default{
		data: function(){
			return{
				isUpdateName: false,
				form: {
					name: this.$store.state.user.name,
					username: this.$store.state.user.username,
					email: this.$store.state.user.email,
				},
				isUpdateUsername: false,
				isUpdateEmail: false,
				isUpdateActivity: true,
				error: [],
				form_password: {
					user_id: this.$store.state.user.id,
					old_password: '',
					new_password: '',
					confirm_password: '',
				}
			}
		},
		methods:{
			...mapActions(['changeMenu','initActivitiesUser']),
			editName(state){
				this.isUpdateName = state;
				if (state) {
				    this.$nextTick(() => this.$refs.etName.focus())
				} else {
				    if (this.form.name == '') {
				        this.form.name = this.$store.state.user.name;
				        this.$noty.warning("Name must be filled!");
				    } else {
				        axios.put(`users/${this.$store.state.user.id}`,this.form)
				        	.then(response => {
				        		this.$store.state.user.name = this.form.name;
								this.initActivitiesUser(this.$store.state.user.id);
				        		this.updateActivity = false;
				        		this.$nextTick(() => this.updateActivity = true)
				        	})
				        	.catch(error => {
				        		this.error=error.response.data.errors;
						        this.showError(this.error);
						        console.log(this.error);
				        	})
				    }
				}
			},
			editUsername(state){
				this.isUpdateUsername = state;
				if (state) {
					this.$nextTick(() => this.$refs.etUsername.focus())
				} else {
					if (this.form.username == '') {
				        this.form.username = this.$store.state.user.username;
				        this.$noty.warning("Username must be filled!");
				    } else {
				        axios.put(`users/${this.$store.state.user.id}`,this.form)
				        	.then(response => {

				        	})
				        	.catch(error => {
				        		this.form.username = this.$store.state.user.username;
				        		this.error=error.response.data.errors;
						        this.showError(this.error);
						        console.log(this.error);
				        	})
				    }
				}
			},
			editEmail(state){
				this.isUpdateEmail = state;
				if (state) {
					this.$nextTick(() => this.$refs.etEmail.focus())
				} else {
					if (this.form.email == '') {
				        this.form.email = this.$store.state.user.email;
				        this.$noty.warning("Email must be filled!");
				    } else {
				        axios.put(`users/${this.$store.state.user.id}`,this.form)
				        	.then(response => {

				        	})
				        	.catch(error => {
				        		this.form.email = this.$store.state.user.email;
				        		this.error=error.response.data.errors;
						        this.showError(this.error);
				        	})
				    }
				}
			},
			showError(data){
				if (data.username != null) {
					this.$noty.error(data.username);
				}
				if (data.email != null) {
					this.$noty.error(data.email);
				}
			},
			changePassword(){
				if (this.form_password.old_password == '') {
					this.$noty.warning("Please fill old password!");
				} else if (this.form_password.new_password == '') {
					this.$noty.warning("Please fill new password!");
				} else if (this.form_password.confirm_password == '') {
					this.$noty.warning("Please fill confirm password!!");
				} else if (this.form_password.new_password != this.form_password.confirm_password) {
					this.$noty.warning("New password and confirm password not match!");
				} else {
					axios.post('changepassword', this.form_password)
						.then(response => {
							if (response.data.message == "success") {
								this.$noty.success("Change password Successfull!");
							} else {
								this.$noty.error("The data given not valid!");
							}
							this.form_password.old_password = '';
							this.form_password.new_password = '';
							this.form_password.confirm_password = '';
						})
				}
			}
		},
		components:{
			'top-navbar':TopNavbar,
		},
		computed: {
			activities : function() {
				return this.$store.state.activities.data.filter(activity => activity.user_id == this.$store.state.user.id);
			}
		},
		mounted: function () {
			this.changeMenu('');
			this.initActivitiesUser(this.$store.state.user.id);
		}
	}
</script>