<template>
	<div>		
		<top-navbar></top-navbar>
		<div name="konten" class="ui grid stackable black" style="padding:1rem 3rem;">
		    <div name="breadcrump" class="sixteen wide column">
		        <div class="ui breadcrumb">
		            <div class="active section">Projects</div>
		        </div>
		    </div>
		    <div name="navigasi-group-project" class="sixteen wide column">
		        <group-nav></group-nav>
		        <segment-projects></segment-projects>
		    </div>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import GroupNavbar from '../components/projects/NavGroup';
	import SegmentProjects from '../components/projects/SegmentProjects';

	export default{
		data: function(){
			return{
				
			}
		},
		methods:{
			...mapActions(['changeMenu']),
		},
		components:{
			'top-navbar':TopNavbar,
			'group-nav': GroupNavbar,
			'segment-projects': SegmentProjects,
		},
		created: function () {
			this.changeMenu('projects');
		}
	}
</script>