<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar></left-navbar>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar></top-navbar>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">Report</div>
			        </div>
			    </div>
    		    <div class="fourteen wide column" style="margin-top: 2rem;">
    		        <div class="ui segments">
    		            <div class="ui teal segment">
    		                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
    		                    <h3 class="ui left floated header">
    								<i class="hourglass start icon"></i>
        	                        <div class="content">
        	                            Report
        	                            <div class="sub header"></div>
        	                        </div>                                   
        	                    </h3>	    	                    
    		                </div>
    		                <div class="ui stackable two column grid">
    		                	<div class="column">
    		                		<div class="ui statistic" style="margin-top: 2rem">
				    	  	  		  <div class="value">
				    	  	  		    {{ progress }}%
				    	  	  		  </div>
				    	  	  		  <div class="label">
				    	  	  		    Progress
				    	  	  		  </div>
				    	  	  		</div>
    		                	</div>
    		                	<div class="column">
    		                		<donut-chart
				    	  	  			id="userstory"
				    	  	  			:data='usData'
				    	  	  			colors='["#FF6384", "#36A2EB", "#FFCE56"]'
				    	  	  			style="width: 12rem; height: 12rem"
				    	  	  			v-if="!isLoadingDonut">
				    	  	  		</donut-chart>
    		                	</div>
    		                </div>
    		            </div>
    		        </div>
    		    </div>
			    <div class="fourteen wide column" style="margin-top: 1rem;">
			        <div class="ui segments">
			            <div class="ui teal segment">
			                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
			                    <h3 class="ui left floated header">
									<i class="hourglass start icon"></i>
	    	                        <div class="content">
	    	                            Burndown Chart
	    	                            <div class="sub header">Latest Sprint Report</div>
	    	                        </div>                                   
	    	                    </h3>	    	                    
			                </div>
			                <line-chart
		    	  	  			id='burndown'
		    	  	  			:data='data'
		    	  	  			xkey='y'
		    	  	  			ykeys='["a", "b"]'
		    	  	  			labels='["Ideal Remaining Task", "Remaining Task"]'
		    	  	  			line-colors='["#FF6384","#36A2EB"]'
		    	  	  			grid='true'
		    	  	  			grid-text-weight="bold"
		    	  	  			style="height:15rem"
				    	  	  	v-if="!isLoadingDonut">
		    	  	  		</line-chart>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</template>

<script>
	import jQuery from 'jquery'
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';
	import { DonutChart, LineChart } from 'vue-morris';

	export default{
		data: function(){
			return{
				base_url: 'api/v1/',
				taskData: [
					{ label: 'Task Undone', value: 50 },
					{ label: 'Task Done', value: 20},
				],
				usData: [
					{ label: 'userstory Todo', value: 1},
					{ label: 'userstory Doing', value: 1},
					{ label: 'userstory Done', value: 1},
				],
				data: [
					{ y: '1', a: 100, b: 100 },
				    { y: '2012-01-02', a: 90,  b: 95 },
				    { y: '2012-01-03', a: 80,  b: 96 },
				    { y: '2012-01-04', a: 70,  b: 94 },
				    { y: '2012-01-05', a: 60,  b: 93 },
				    { y: '2012-01-06', a: 50,  b: 92 },
				    { y: '2012-01-07', a: 40,  b: 90 },
				    { y: '2012-01-08', a: 30, b: 88 },
				    { y: '2012-01-09', a: 20, b: 80 },
				    { y: '2012-01-10', a: 10, b: 70 },
				    { y: '2012-01-11', a: 0, b: 0 }
				],
				progress: 0,
				isLoadingDonut: false,
				response: []
			}
		},
		methods:{
			getDonut(){
				this.isLoadingDonut = true;
				axios.get(`projects/${this.$route.params.projectId}/reports`)
					.then(response => {
						this.response = response.data.data;
						this.progress = this.response.progress;
						this.usData[0].value = response.data.data.usData.todo;
						this.usData[1].value = response.data.data.usData.doing;
						this.usData[2].value = response.data.data.usData.done;
						this.data = this.response.sprint;						
						this.isLoadingDonut = false;
					})
			}
		},
		mounted(){
			this.getDonut();
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
			DonutChart, LineChart
		}
	}
</script>