<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar/>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar/>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">Setting</div>
			        </div>
			    </div>
			    <div class="ui grid" style="margin-top: 1rem">
			    	<div class="sixteen wide column">
					    <div class="ui stackable two column grid">
	    		    		<div class="column">
	    		    			<div class="row">
	    		    				<div class="ui center aligned clearing teal padded segment">
	    			    				<div class="ui stackable column grid" >    
	    			    					<div class="column" v-if="activeProject.role != 'project owner'">		    						
	    				    					<div class="ui form">		    	  	  			
	    						    	  	  		<div class="field">
	    						    	  	  			<label>Project Name</label>
	    						    	  	  			{{ activeProject.project.project_name }}
	    						    	  	  		</div>
	    						    	  	  		<div class="field">
	    						    	  	  			<label>Description</label>
	    						    	  	  			{{ activeProject.project.description }}
	    						    	  	  		</div>
	    					    	  	  		</div>
	    			    					</div>		    						    				
	    			    					<div class="column" v-if="activeProject.role == 'project owner'">		    						
	    				    					<div class="ui form">		    	  	  			
	    						    	  	  		<div class="field">
	    						    	  	  			<label>Project Name</label>
	    						    	  	  			<div class="editable" v-if="!isUpdateName" @click="updateName(true)">
	    						    	  	  				{{ activeProject.project.project_name }}
	    						    	  	  			</div>
	    						    	  	  			<div class="ui fluid input" v-if="isUpdateName">
								    	  	  			  	<input
								    	  	  			  		ref="etName"
								    	  	  			  		type="text"
								    	  	  			  		@blur="updateName(false)"
								    	  	  			  		v-model="activeProject.project.project_name"
								    	  	  			  		style="padding:0.5rem">
								    	  	  			</div>
	    						    	  	  		</div>
	    						    	  	  		<div class="field">
	    						    	  	  			<label>Description</label>
	    						    	  	  			<div class="editable" v-if="!isUpdaDesc" @click="updateDesc(true)">
	    						    	  	  				{{ activeProject.project.description }}
	    						    	  	  			</div>
	    						    	  	  			<div class="ui fluid input" v-if="isUpdaDesc">
								    	  	  			  	<input
								    	  	  			  		ref="etDesc"
								    	  	  			  		type="text"
								    	  	  			  		@blur="updateDesc(false)"
								    	  	  			  		v-model="activeProject.project.description"
								    	  	  			  		style="padding:0.5rem">
								    	  	  			</div>
	    						    	  	  		</div>
	    						    	  	  		<div class="field">
	    						    	  	  			<div class="ui fluid red button" @click="deleteProject">
	    						    	  	  				Delete Project
	    						    	  	  			</div>
	    						    	  	  		</div>
	    					    	  	  		</div>
	    			    					</div>
	    			    				</div>		    	  	  		
	    			    	  		</div>
	    		    			</div>
	    		    			<div class="row" v-if="activeProject.role == 'project owner'">
	    		    				<div class="ui clearing teal padded segment" style="margin-top: 1rem">
	    			    				<h2 class="ui header">
	    	  								<i class="user icon"></i>
	    			    	  	    		<div class="content">
	    			    	  	      			Add Member
	    			    	  	    		</div>
	    			    	  	  		</h2>		    						
	    		    					<div class="ui centered form">		    	  	  			
	    				    	  	  		<div class="field">
	    				    	  	  			<label>Username / Email</label>
	    				    	  	  			<input type="text" placeholder="Username / Email" v-model="form.username">
	    				    	  	  		</div>
	    				    	  	  		<div class="field">
	    				    	  	  			<label>Role</label>				    	  	  			
	    				    	  	  			<select class="ui dropdown" v-model="form.role">
	    				    	  	  			  <option value="">Role</option>
	    				    	  	  			  <option value="project owner">Project Owner</option>
	    				    	  	  			  <option value="developer">Developer</option>
	    				    	  	  			  <option value="stackholder">Stackholder</option>
	    				    	  	  			</select>
	    				    	  	  		</div>
	    				    	  	  		<div class="field">
	    				    	  	  			<div class="ui positive button" @click="addMember">Add Member</div>
	    				    	  	  		</div>
	    			    	  	  		</div>	    	  	  		
	    			    	  		</div>
	    		    			</div>
	    		    		</div>
	    		    		<div class="column">
	    			    		<div class="ui teal padded segment">
	    				    		<h2 class="ui header">
	    								<i class="user icon"></i>
	    		    	  	    		<div class="content">
	    		    	  	      			Member
	    		    	  	      			<div class="sub header">List of members</div>
	    		    	  	    		</div>
	    		    	  	  		</h2>
	    		    				<div class="ui middle aligned selection divided list">
	    		    				  	<div class="item" v-for="member in members" @click="detail(member.id)">
	    		    				    	<div class="right floated content" v-if="activeProject.role == 'project owner'">
	    		    				      		<div class="ui small red button" @click="removeMember(member.id)">Remove</div>
	    		    				    	</div>
	    		    				    	<img class="ui avatar image" src="/images/avatar/people/Abraham.png">
	    		    				    	<div class="content">
	    		    				      		<div class="header"><a href="">{{ member.name }}</a></div>
	    		    				      		{{ member.role }}
	    		    				    	</div>
	    		    				  	</div>
	    		    				</div>
	    		    			</div>
	    			    	</div>	
	    		    	</div>	
	    		    </div>
				</div>
			</div>
		</div>	
		<div id="deleteModal" class="ui mini basic modal">
		  <div class="ui icon header">
		    <i class="warning sign icon"></i>
		    Are you sure to delete this member?
		  </div>
		  <div class="actions">
		    <div class="ui red basic cancel inverted button">
		      <i class="remove icon"></i>
		      No
		    </div>
		    <div class="ui green ok inverted button">
		      <i class="checkmark icon"></i>
		      Yes
		    </div>
		  </div>
		</div>	
		<div id="deleteProject" class="ui mini basic modal">
		  <div class="ui icon header">
		    <i class="warning sign icon"></i>
		    Are you sure to delete this project?
		  </div>
		  <div class="actions">
		    <div class="ui red basic cancel inverted button">
		      <i class="remove icon"></i>
		      No
		    </div>
		    <div class="ui green ok inverted button">
		      <i class="checkmark icon"></i>
		      Yes
		    </div>
		  </div>
		</div>
		<div id="detailMember" class="ui tiny modal">
		  <i class="close icon"></i>
		  <div class="header">
		    Update Member
		  </div>
		  <div class="content">
		  	<form class="ui form">
		  	  <div class="field" v-if="!tmpId==''">
		  	    <label>Name</label>
		  	    {{ selectedMember.name }}
		  	  </div>
		  	  <div class="field">
		  	    <label>Role</label>
		  	    <select id="editRole" class="ui dropdown" v-model="form_update.role">
		  	      <option value="">Role</option>
		  	      <option value="project owner">Project Owner</option>
		  	      <option value="developer">Developer</option>
		  	      <option value="stackholder">Stackholder</option>
		  	    </select>
		  	  </div>
		  	</form>
		  </div>
		  <div class="actions">
		    <div class="ui black deny button">
		      Close
		    </div>
		    <div class="ui positive right labeled icon button">
		      Update
		      <i class="checkmark icon"></i>
		    </div>
		  </div>
		</div>
	</div>
</template>

<style>
	.editable{
		padding: 0.5rem;
	}
	.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}
</style>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';

	export default{
		data: function(){
			return{
				form_update: {
					role:'',
				},
				form:{
					username: '',
					role: '',
				},
				tmpId:'',
				isUpdateName: false,
				isUpdaDesc: false,				
			}
		},
		methods:{
			...mapActions(['initMembers','initProjects']),
			addMember(){
				if (this.form.username == '') {
					this.$noty.warning("Please insert username / email!");
				} else if (this.form.role == '') {
					this.$noty.warning("Please choose role!");
				} else {					
					axios.post(`projects/${this.$route.params.projectId}/members`, this.form)
						.then(response => {
							if (response.data.status == 'success') {
								this.initMembers(this.$route.params.projectId);
								this.form.username= '';
								this.role= '';
							} else {
								this.$noty.error(response.data.data);
							}
						})
				}
			},
			removeMember(memberId){
				let self = this;
				$('#deleteModal').modal({
					onApprove: function () {
						axios.delete(`members/${memberId}`)
							.then(response => {
								for (var i = 0; i < self.members.length; i++) {
									if (self.members[i].id == memberId) {
										self.members.splice(i,1);
										break;
									}
								}
							})
					}
				}).modal('show');
			},
			deleteProject(){
				let self = this;
				$('#deleteProject').modal({
					onApprove: function () {
						axios.delete(`projects/${self.$route.params.projectId}`)
							.then(response => {
								$('deleteProject').modal('hide');
								this.$router.push({name:'projects'});
							})
					}
				}).modal('show');
			},
			detail(id){
				this.tmpId = id;
				let self = this;
				$('#editRole').dropdown('destroy');
				$('#editRole').dropdown('clear').dropdown('set selected', this.selectedMember.role);
				$("#editRole").dropdown();
				$('#detailMember').modal({
					onApprove: function () {
						axios.put(`members/${id}`, self.form_update)
							.then(response => {
								for (var i = 0; i < self.members.length; i++) {
									if (self.members[i].id == id) {
										self.members[i].role=self.form_update.role;
										break;
									}
								}
							})
					}
				}).modal('show');
			},
			updateName(state){
				this.isUpdateName=state;
				if (state) {
				    this.$nextTick(() => this.$refs.etName.focus())
				} else {				    
			        axios.put(`projects/${this.$route.params.projectId}`,this.activeProject.project)
			        	.then(response => {
							this.initProjects(this.$store.state.user.id);
			        	})
				}
			},
			updateDesc(state){
				this.isUpdaDesc=state;
				if (state) {
				    this.$nextTick(() => this.$refs.etDesc.focus())
				} else {				    
			        axios.put(`projects/${this.$route.params.projectId}`,this.activeProject.project)
			        	.then(response => {
							this.initProjects(this.$store.state.user.id);
			        	})
				}
			}
		},
		mounted(){
			this.initMembers(this.$route.params.projectId);
			this.initProjects(this.$store.state.user.id);
		},
		computed: {
			members(){
				return this.$store.state.members;
			},
			selectedMember(){
				for (var i = 0; i < this.members.length; i++) {
					if(this.members[i].id == this.tmpId){
						return this.members[i];
					}
				}
			},
			activeProject(){
				for (var i = 0; i < this.$store.state.projects.data.length; i++) {
					if(this.$store.state.projects.data[i].project_id == this.$route.params.projectId){
						return this.$store.state.projects.data[i];
					}
				}
			}
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
		}
	}
</script>