<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar></left-navbar>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar></top-navbar>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">Sprints</div>
			        </div>
			    </div>
			    <div class="fourteen wide column" style="margin-top: 2rem;">
			        <div class="ui segments" style="max-height: 600px">
			            <div class="ui teal segment">
			                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
			                    <h3 class="ui left floated header">
									<i class="hourglass start icon"></i>
	    	                        <div class="content">
	    	                            Sprints
	    	                            <div class="sub header">List of sprints</div>
	    	                        </div>                                   
	    	                    </h3>
			                    <button class="ui icon labeled icon green right floated button mobile hidden" title="Click to add new user story" @click="openModal(`addSprint`)" v-if="project.role == 'project owner'">
			                        <i class="plus icon"></i>
			                        Add Sprint
			                    </button>                                    
			                    <button class="ui icon green right floated button mobile only">
			                        <i class="plus icon"></i>
			                    </button>
			                </div>
			                <sprint-list></sprint-list>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		<modal :type="`addSprint`" :form="form_sprints" @callback="addSprintCallback">
	    	<p slot="title">New Sprint</p>
	    	<p slot="header">Insert data about your sprint</p>
	    	<div slot="content">
	    		<div class="required field">
                    <label>Sprint Name</label>
                    <input type="text" placeholder="Insert Sprint Name" v-model="form_sprints.sprint_name">
                </div>
                <div class="required field">
                    <label>Description</label>
                    <textarea rows="2" placeholder="Insert Description" v-model="form_sprints.sprint_description"></textarea>
                </div>
              	<div class="two fields">
              	    <div class="required field">
              	    	<label>Start date</label>
            			<datepicker :inline="true" placeholder="Start" :disabled="disabled_to" v-on:selected="disableTo" :format="format" v-model="form_sprints.start" :highlighted="highlighted"></datepicker>
            		</div>
            		<div class="required field">
              	    	<label>End date</label>						
            			<datepicker :inline="true" placeholder="End" :disabled="disabled_from" :format="format" v-model="form_sprints.end" v-on:selected="disableFrom" :highlighted="highlighted" ></datepicker>
            		</div>
            	</div>
	    	</div>
	    </modal>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';
	import Datepicker from 'vuejs-datepicker';
	import SprintList from '../components/sprints/SprintList';
	import Modal from '../components/Modal';

	export default{
		data: function(){
			return{
				form_sprints:{
					project_id:'',
					sprint_name:'',
					sprint_description:'',
					start:'',
					end:'',
				},
	            disabled_to: {},
	            disabled_from: {},
				format: 'yyyy-MM-dd',
				highlighted:{
					to: null,
  					from: null
				},
				project: {},
                isDataReady: false,
			}
		},
		mounted(){
			let callback = this.initProjects(this.$store.state.user.id);
			callback.then(response => {
			    this.isDataReady = false;
			    for (var i = 0; i < response.length; i++) {
			        if (response[i].project_id == this.$route.params.projectId) {
			            this.project = response[i];
			            this.isDataReady = true;
			            break;
			        }
			    }
			})
		},
		methods: {
			...mapActions(['openModal', 'addSprint', 'initProjects']),
			addSprintCallback(){
				if (this.form_sprints.sprint_name == '') {
					this.$noty.warning("Please insert field sprint name!");
				} else if (this.form_sprints.sprint_description == '') {
					this.$noty.warning("Please insert field sprint description!");
				} else if (this.form_sprints.sprint_name == '') {
					this.$noty.warning("Please insert field start_at!");
				} else if (this.form_sprints.sprint_name == '') {
					this.$noty.warning("Please insert field end_at!");
				} else {					
					let callback = this.addSprint([this.$route.params.projectId, this.form_sprints]);
					callback.then(response => {
						this.form_sprints.project_id = '';
						this.form_sprints.sprint_name = '';
						this.form_sprints.sprint_description = '';
						this.form_sprints.start = '';
						this.form_sprints.end = '';
						this.highlighted.to = null;
						this.highlighted.from = null;
						this.disabled_from = {};
						this.disabled_to = {};
						$('#addSprint').modal('hide');
						this.$noty.success("Success Add Sprint!");
					});
				}
			},
			disableTo (val) {
		        if (typeof this.disabled_from.to === 'undefined') {
		        	this.disabled_from = {
		            	to: null,
		            	from: this.disabled_from.from
		        	};
		    	}
		        this.disabled_from.to = val;
		        this.highlighted.from=val;
		    },
		    disableFrom (val) {
		        if (typeof this.disabled_to.from === 'undefined') {
		        	this.disabled_to = {
		            	to: this.disabled_to.to,
		            	from: null
		           	};
		        }
		        this.disabled_to.from = val;
		        this.highlighted.to=val;
		    }
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
			'datepicker': Datepicker,
			'sprint-list': SprintList,
			Modal
		}
	}
</script>