<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar></left-navbar>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar></top-navbar>
			<div style="padding: 1rem 3rem 0rem 3rem">
				<div name="breadcrump" class="sixteen wide column">
				    <div class="ui breadcrumb">
				        <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
				        <div class="divider">| </div>
				        <a href="" class="section">Project</a>
				        <div class="divider"> / </div>
				        <a href="" class="section">Sprints</a>
				        <div class="divider"> / </div>
				        <div class="active section">Detail Sprint</div>
				    </div>
				</div>
				<div class="thirteen wide column" style="margin-top: 2rem;">
				    <div class="ui segments" >
				        <div class="ui teal segment">
				            <div class="ui clearing basic segment" style="padding:0px;margin:0px;">
				                <h3 class="ui left floated header">
				                    <i class="hourglass start icon"></i>
				                    <div class="content">
				                        Board
				                        <div class="sub header">List of board</div>
				                    </div>
				                </h3>
				                <button class="ui icon labeled icon green right floated button mobile hidden" @click="openModal(`addSprintBacklog`)">
				                    <i class="plus icon"></i>
				                    Add Sprint Backlog
				                </button>
				                <button class="ui icon labeled icon blue right floated button mobile hidden" @click="openModalEx">
				                    <i class="info icon"></i>
				                    Sprint Detail
				                </button>
				                <button class="ui icon green right floated button mobile only">
				                    <i class="plus icon"></i>
				                </button>
				            </div>
				           	<div  id="sprint" class="ui three stackable cards" style="margin:0px;">
				           	  	<div class="teal card">
				           	    	<div class="content">
				           	      		<div class="header">To do</div>
				           	      		<div class="description">
				       	       				<draggable class="ui stackable link red cards" v-model="todo" :options="{group:'detail'}" @start="drag=true" @end="onEnd" style="min-height:50px">
				       	       				  	<div class="card" v-for="data in todo">
				       	       				    	<div class="content">
				       	       				      		<div class="description">
				       	       				   				{{ data.user_story }}
				       	       				      		</div>
				       	       				    	</div>
				       	       				  	</div>
				       	       				</draggable>
				           	      		</div>
				           	    	</div>
				           	  	</div>	
				           	  	<div class="teal card">
				           	    	<div class="content">
				           	      		<div class="header">Doing</div>
				           	      		<div class="description">
				       	       				<draggable class="ui stackable link red cards" v-model="doing" :options="{group:'detail'}" @start="drag=true" @end="onEnd" style="min-height:50px">
				       	       				  	<div class="card" v-for="data in doing">
				       	       				    	<div class="content">
				       	       				      		<div class="description">
				       	       				   				{{ data.user_story }}
				       	       				      		</div>
				       	       				    	</div>
				       	       				  	</div>
				       	       				</draggable>
				           	      		</div>
				           	    	</div>
				           	  	</div>
				           	  	<div class="teal card">
				           	    	<div class="content">
				           	      		<div class="header">Done</div>
				           	      		<div class="description">
		           	      					<draggable class="ui stackable link red cards" v-model="done" :options="{group:'detail'}" @start="drag=true" @end="onEnd" style="min-height:50px">
		           	      					  	<div class="card" v-for="data in done">
		           	      					    	<div class="content">
		           	      					      		<div class="description">
		           	      					   				{{ data.user_story }}
		           	      					      		</div>
		           	      					    	</div>
		           	      					  	</div>
		           	      					</draggable>
				           	      		</div>
				           	    	</div>
				           	  	</div>
				           	</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<modal type="addSprintBacklog" :form="form" btnCancel="Close" btnPositive="Add" @callback="addSB">
			<p slot="title">Add Sprint Backlog</p>
	    	<div slot="content">
	    		<div name="list user story" class="ui middle aligned selection divided pushable list" style="margin:0px; max-height: 450px" v-if="isUpdate">
					<div v-for="(userstory, index) in userstories" :key="userstory.id" class="item" @click="selectUserstory(userstory.id)">
						<!-- <div class="right floated content">
							<priority :priority="userstory.priority"/>
						</div> -->
						<div class="right floated content">
						    <div v-for="label in userstory.labels" class="ui horizontal label" :class="label.label_color">{{ label.label_name }}</div>
						</div>
					    <div class="content">
					        <div class="header">
					        	<i class="green check icon" v-if="userstory.tmp_used == 1"></i>
					        	{{ userstory.number_user_story }} | {{ userstory.user_story }}
					        </div>
					    </div>
					</div>
			    </div>
	    	</div>
		</modal>
		<modal :type="`detailSprint`" :isHeader="false" :isPositive="false" btnCancel="Close">
		    <p slot="title">Detail Sprint</p>
		    <div slot="content">
		        <div class="ui grid">
		            <div class="eleven wide column" v-if="modal">
		                <h3 class="ui header">
		                    <div class="editable" v-if="!isUpdateName" @click="updateName(true)">
		                        {{ sprint.sprint_name }}
		                    </div>
		                    <div class="ui fluid input" v-show="isUpdateName">
		                        <input
		                            ref="etName"
		                            type="text"
		                            v-model="sprint.sprint_name"
		                            @blur="updateName(false)"
		                            style="padding:0.7rem">
		                    </div>
		                    <div class="sub header">
		                        <div class="small editable" v-show="!isUpdateDescription" @click="updateDesc(true)">
		                            {{ sprint.sprint_description }}
		                        </div>
		                        <div class="ui fluid input" v-show="isUpdateDescription">
		                            <input
		                                ref="etDesc"
		                                type="text"
		                                v-model="sprint.sprint_description"
		                                @blur="updateDesc(false)"
		                                placeholder="Add description group..."
		                                style="padding:0.5rem">
		                        </div>
		                    </div>
		                    <datepicker :inline="true" placeholder="End" :highlighted="highlighted" style="margin-top: 1rem"></datepicker>
		                </h3>
		            </div>
		            <div class="five wide column">
		                <div class="ui labeled icon pointing dropdown">
		                    <div class="ui fluid red button">
		                        Delete
		                    </div>
		                    <div class="menu">
		                        <div class="header">
		                            Are you sure?
		                        </div>                            
		                        <div class="item" @click="removeSprint">
		                            <div class="ui positive right fluid button mini">
		                                Yes
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>                
		    </div>
		</modal>
	</div>
</template>

<style>
	.textUserStory{
		font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	    font-weight: bold;
	    line-height: 1.28571429em;
	    text-transform: none;
	    color: rgba(0, 0, 0, 0.87);
	}
	.small.editable{
		padding: 0.5rem;
	}
	.small.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}

	.editable{
		padding: 0.7rem;
	}
	.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}
</style>

<script>
	import { mapActions, mapGetters } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';
	import Modal from '../components/Modal';
	import draggable from 'vuedraggable';
	import Datepicker from 'vuejs-datepicker';

	export default{
		data(){
			return {
				isUpdate : true,
				form: {
					params:[],
					length:0,
				},
				isUpdateName: false,
				isUpdateDescription: false,
				highlighted: {
					from: null,
					to: null,
				},
				modal: false,
			}
		},
		methods: {
			...mapActions(['initSprints','initUserStories','initSprintBacklog', 'updateSprintBacklog','openModal','addSprintBacklog']),
			onEnd(){
				this.updateSprintBacklog([this.$route.params.sprintId, this.$store.state.sprintbacklog]);
			},
			openModalEx(){
				this.modal = true;
				$(`#detailSprint`).modal("show");
				let start = this.sprint.start_at.split('-');
				let end = this.sprint.end_at.split('-');
				this.highlighted.from = new Date(start[0], start[1] - 1, start[2]);
				this.highlighted.to = new Date(end[0], end[1] - 1, end[2]);
			},
			addSB(){
				this.form.params = [];
				this.form.length = 0;
				for (var i = 0; i < this.userstories.length; i++) {
					if (this.userstories[i].tmp_used == 1) {
						let tmp = {id: this.userstories[i].id};
						this.form.params.push(tmp);
						this.form.length += 1;
					}
				}
				if (this.form.length == 0) {
					this.$noty.warning("Please choose user story first!");
				} else {				
					let callback = this.addSprintBacklog([this.$route.params.sprintId, this.form]);
					callback.then(response => {
						$('#addSprintBacklog').modal('hide');
						for (var i = 0; i < this.form.params.length; i++) {
							for (var j = 0; j < this.userstories.length; j++) {							
								if (this.form.params[i].id == this.userstories[j].id) {
									this.userstories[j].is_used = 1;
								}
							}
						}
					})
				}
			},
			selectUserstory(id){
				for (var i = 0; i < this.userstories.length; i++) {
					if (this.userstories[i].id == id) {
						if (this.userstories[i].tmp_used == 0) {
							this.userstories[i].tmp_used = 1;
						} else {
							this.userstories[i].tmp_used = 0;
						}
						this.isUpdate = false;
						this.$nextTick(() => {
							this.isUpdate = true;
						});	
						break;
					}
				}
			},
			removeSprint(){
				axios.delete(`sprints/${this.$route.params.sprintId}`)
					.then(response => {
						$(`#detailSprint`).modal('hide');
			        	this.$router.push({ name: 'sprints'});
					})
			},
			updateName(state){
				this.isUpdateName = state;
				if (state) {
				    this.$nextTick(() => this.$refs.etName.focus())
				} else {
					let params = {
						sprint_name: this.sprint.sprint_name,
						sprint_description: this.sprint.sprint_description,
					}
			        axios.put(`sprints/${this.$route.params.sprintId}`,params)
			        	.then(response => {
			        	})
				}
			},
			updateDesc(state){
				this.isUpdateDescription = state;
				if (state) {
				    this.$nextTick(() => this.$refs.etDesc.focus())
				} else {
					let params = {
						sprint_name: this.sprint.sprint_name,
						sprint_description: this.sprint.sprint_description,
					}
			        axios.put(`sprints/${this.$route.params.sprintId}`,params)
			        	.then(response => {

			        	})
				}
			},

		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
			'draggable': draggable,
			Modal,Datepicker
		},
		mounted: function() {
			this.initSprintBacklog(this.$route.params.sprintId);
			this.initUserStories(this.$route.params.projectId);
			this.initSprints(this.$route.params.projectId);
		},
		computed: {
			userstories: function() {
				let data = this.$store.getters.unUsedUserstories;
				return data;
			},
			sprint: function() {
				for (var i = 0; i < this.$store.state.sprints.data.length; i++) {
					if (this.$store.state.sprints.data[i].id == this.$route.params.sprintId) {
						return this.$store.state.sprints.data[i];
					}					
				}
			},
			todo: {
				get(){
					return this.$store.state.sprintbacklog.todo;
				},
				set(value){
					this.$store.commit('UPDATE_SPRINTBACKLOG_TODO', value);
				}
			},
			doing: {
				get(){
					return this.$store.state.sprintbacklog.doing;
				},
				set(value){
					this.$store.commit('UPDATE_SPRINTBACKLOG_DOING', value);
				}
			},
			done: {
				get(){
					return this.$store.state.sprintbacklog.done;
				},
				set(value){
					this.$store.commit('UPDATE_SPRINTBACKLOG_DONE', value);
				}
			}
		}
	}
</script>