<template>
	<div class="ui grid stackable black" style="margin: 0px;">
		<left-navbar/>
		<div class="thirteen wide column" id="root" style="padding:0rem;">
			<top-navbar/>
			<div style="padding: 1rem 3rem 0rem 3rem">
			    <div name="breadcrump" class="sixteen wide column">
			        <div class="ui breadcrumb">
			            <i id="sidebar-btn" class="sidebar icon large mobile only"></i>
			            <div class="divider">| </div>
			            <a href="" class="section">Project</a>
			            <div class="divider"> / </div>
			            <div class="active section">User Stories</div>
			        </div>
			    </div>
			    <div class="fourteen wide column" style="margin-top: 2rem;">
			        <div class="ui segments" style="max-height: 600px">
			            <div class="ui teal segment">
			                <div class="ui clearing basic segment" style="padding:0px;margin:0px">
			                    <h3 class="ui left floated header">
			                        <i class="settings icon"></i>
			                        <div class="content">
			                            User Story
			                            <div class="sub header">Share your story</div>
			                        </div>
			                    </h3>
			                    <button class="ui icon labeled icon green right floated button mobile hidden" title="Click to add new user story" @click="openModal(`addUserstory`)">
			                        <i class="plus icon"></i>
			                        Add User Story
			                    </button>                                    
			                    <button class="ui icon green right floated button mobile only">
			                        <i class="plus icon"></i>
			                    </button>
			                </div>
			                <userstory-item :data="userstories"></userstory-item>
			            </div>
			        </div>
			    </div>
			</div>
		</div>		
		<!-- modal -->
		<modal :type="`addUserstory`" @callback="addUs" :isPositive="true" btnCancel="Close">
	    	<p slot="title">New User Story</p>
	    	<p slot="header">Insert data about your story</p>
	    	<div slot="content">
	    		<div class="required field">
                    <label>User Story</label>
                    <input type="text" placeholder="Insert User Story" v-model="form_userstory.user_story">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="2" placeholder="Insert Description" v-model="form_userstory.description"></textarea>
                </div>
                <label>Labels</label>
                <labels 
                	:labels="$store.state.labels.data"
                	id="labelsInput"
                	idb="labelInput"/>
                <priority-dropdown 
                	id="dropdownPriorities"
                	idb="dropdownPriority"/>
	    	</div>
	    </modal>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';
	import TopNavbar from '../components/TopNavbar';
	import LeftNavbar from '../components/LeftNavbar';
	import UserstoryItem from '../components/userstories/UserstoryItem';
	import Modal from '../components/Modal';
	import Labels from '../components/userstories/Labels';
	import PriorityDropdown from '../components/userstories/PriorityDropdown';

	export default{
		data: function(){
			return {
				form_userstory: {
					user_story: '',
					description: '',
					labels: '',
					user_id: this.$store.state.user.id,
					priority: '',
				},
				form_label: {
					label_name: '',
					label_color: '',
				},
			}
		},
		methods:{
			...mapActions([
				'initUserStories', 
				'initLabels', 
				'addLabel', 
				'openModal', 
				'addUserstory'
			]),
			addUs(){
				if (this.form_userstory.user_story == '') {
					this.$noty.warning("Please fill user story!");
				} else {
	                this.form_userstory.labels=$('#labelInput').val();
	                this.form_userstory.priority=$('#dropdownPriority').val();
	                let callback = this.addUserstory([this.$route.params.projectId, this.form_userstory]);
	                callback.then(response => { 
	                	this.refreshUserStoryForm();
	                	$('#addUserstory').modal('hide');
					});
					callback.catch(response => {
						console.log(error);
					})
				}
			},
			refreshUserStoryForm(){
				this.form_userstory.user_story= '';
				this.form_userstory.description= '';
				this.form_userstory.labels= '';
				this.form_userstory.priority= '';
				$('#labelInput').val('');
				$('#dropdownPriority').val('');
				$('#labelsInput').dropdown('clear');
				$('#dropdownPriorities').dropdown('restore defaults');
			}
		},
		created(){
			this.initUserStories(this.$route.params.projectId);
			this.initLabels(this.$route.params.projectId);
		},
		mounted(){
		},
		components:{
			'top-navbar': TopNavbar,
			'left-navbar': LeftNavbar,
			'userstory-item': UserstoryItem,
			'modal': Modal,
			Labels,PriorityDropdown,
		},
		computed: {
			userstories: function() {
				return this.$store.getters.userstories;
			}
		}
	}
</script>