<template>
	<div>
		
		<div 
			class="small editable" 
			v-show="!isEditDescription" 
			@click="editDescription(true)">
			<p v-if="description != null">{{ form.description }}</p>
			<p v-else>Add a description...</p>
		</div>
		<div class="ui fluid input" v-show="isEditDescription">
		  	<input
		  		ref="etDescription"
		  		type="text"
		  		v-model="form.description"
		  		@blur="editDescription(false)"
		  		style="padding:0.5rem"
		  		placeholder="Add a description...">
		</div>
	</div>
</template>

<style>
	
</style>

<script>
	export default{
		props: ['description'],
		data(){
			return{
				isEditDescription: false,
			}
		},
		methods: {
			editDescription(state){
				this.isEditDescription = state;
				if (state) {
					this.$nextTick(() => this.$refs.etDescription.focus())
				} else {
					this.$emit('callback', this.form);
				}
			}
		},
		computed: {
			form: function(){
				const data = { 					
					description: this.description 
				};

				return data;
			}
		}
	}
</script>