<template>
    <div class="field">
        <div :id="id" class="ui fluid multiple search selection dropdown">
        	<input :id="idb" type="hidden" name="labels">
        	<i class="dropdown icon"></i>
        	<div class="default text">Select Labels</div>
        	<div class="menu">
        		<div v-for="label in labels" class="item" :data-value="label.id"><i class="ui empty circular label" :class="label.label_color"></i> {{ label.label_name}}</div>
        	</div>
        </div>
        <div class="ui labeled icon left pointing dropdown">
            <a href="" @click.prevent="">Insert new label</a>
            <div class="menu">
                <div class="ui transparent left icon input">
                    <div class="field">
                        <label>Label</label>
                        <input type="text" placeholder="Insert Label Name" v-model="form_label.label_name">
                    </div>
                </div>
                <div class="ui transparent left icon input">
                    <div class="field">
                        <label>Color</label>
                        <div class="item">
					      <div class="ui empty circular label" :class="form_label.label_color"></div>
					      {{ form_label.label_color }}
					    </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="header">
                    <i class="tags icon"></i>
                    Color
                </div>
                <div style="padding-left: 1rem">
                    <div class="row">
                        <a class="ui red circular label" @click="form_label.label_color='red'"></a>
                        <a class="ui orange circular label" @click="form_label.label_color='orange'"></a>
                        <a class="ui yellow circular label" @click="form_label.label_color='yellow'"></a>
                        <a class="ui olive circular label" @click="form_label.label_color='olive'"></a>
                        <a class="ui green circular label" @click="form_label.label_color='green'"></a>
                        <a class="ui teal circular label" @click="form_label.label_color='teal'"></a>
                    </div>
                    <div class="row">
                        <a class="ui blue circular label" @click="form_label.label_color='blue'"></a>
                        <a class="ui violet circular label" @click="form_label.label_color='violet'"></a>
                        <a class="ui purple circular label" @click="form_label.label_color='purple'"></a>
                        <a class="ui pink circular label" @click="form_label.label_color='pink'"></a>
                        <a class="ui brown circular label" @click="form_label.label_color='brown'"></a>
                        <a class="ui grey circular label" @click="form_label.label_color='grey'"></a>
                    </div>
                    <div class="row">
                        <a class="ui black circular label" @click="form_label.label_color='grey'"></a>
                    </div>
                </div>                               
                <div class="item" @click="addLabel([$route.params.projectId, form_label])">
                    <div class="ui positive right fluid button mini">
                        Create Label
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

	export default{
		props: ['labels','id','idb'],
		data: function(){
			return {				
				form_label: {
					label_name: '',
					label_color: '',
				},
			}
		},
		methods:{
            ...mapActions(['addLabel']),
		}
	}
</script>