<template>	
    <div class="field">
    	<label>Priority</label>
    	<div :id="id" class="ui fluid selection dropdown">
		  <input :id="idb" type="hidden" name="user" value="medium">
		  <i class="dropdown icon"></i>
  			<div class="text">Medium</div>
		  <div class="menu">
		    <div class="item" data-value="highest">
		      <i class="red arrow up icon"/>
		      Highest
		    </div>
		    <div class="item" data-value="high">		      
		      <i class="red arrow up icon"/>
		      High
		    </div>
		    <div class="item" data-value="medium">
		      <i class="yellow arrow up icon"/>
		      Medium
		    </div>
		    <div class="item" data-value="low">
		      <i class="green arrow down icon"/>
		      Low
		    </div>
		    <div class="item" data-value="lowest">
		      <i class="green arrow down icon"/>
		      Lowest
		    </div>
		  </div>
		</div>
    </div>
</template>

<script>
	export default{
		props: ['id', 'idb'],
		mounted(){
			
		}
	}
</script>