<template>
	<div>
		<i :class="icon"
			:title="priority"/>
	</div>
</template>

<script>
	export default{
		props:['priority'],
		computed: {
			icon: function() {
				switch (this.priority) {
					case 'highest':
						return 'red arrow up icon';
						break;
					case 'high':
						return 'red arrow up icon';
						break;
					case 'medium':
						return 'yellow arrow up icon';
						break;
					case 'low':
						return 'green arrow down icon';
						break;
					case 'lowest':
						return 'green arrow down icon';
						break;
					default:
						// statements_def
						break;
				}
			}
		}
	}
</script>