<template>
	<div class="ui divided list">
	  	<div class="item" v-for="task in tasks">
	    	<div class="right floated content">
	      		<div class="ui mini green button" @click="done(task.id)" v-if="task.isDone == 0">Done</div>
	      		<div class="ui green horizontal label" v-if="task.isDone == 1">Done</div>
	      		<div class="ui mini red button" @click="remove(task.id)" v-if="task.isDone == 0">Delete</div>
	    	</div>
	    	<div class="right floated content" v-if="task.assigned_id != $store.state.user.id" @click="assignTask(task.id)">	    		
	    		<a>Assign to me</a>
	    	</div>
	    	<div class="right floated content" v-if="task.assigned_id == $store.state.user.id" @click="unAssignTask(task.id)">	    		
	    		<a>Unassign task</a>
	    	</div>
	    	<div class="bottom aligned content">
	    		<div class="header">{{ task.task }}</div>
	    	</div>
	  </div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';

	export default{
		props: ['tasks'],		
		methods: {
			done(id){
				let params = {
					isDone: '1',
				}

				axios.put(`tasks/${id}`, params)
					.then(response => {
						for (var i = 0; i < this.tasks.length; i++) {
							if (this.tasks[i].id == id) {
								this.tasks[i].isDone = 1;
								break;
							}							
						}
					})
			},
			remove(id){
				axios.delete(`tasks/${id}`)
					.then(response => {
						for (var i = 0; i < this.tasks.length; i++) {
							if (this.tasks[i].id == id) {
								this.tasks.splice(i,1);
								break;
							}							
						}
					})
			},
			assignTask(taskId){
				let params = {
					assigned_id: this.$store.state.user.id,
				}

				axios.put(`tasks/${taskId}`, params)
					.then(response => {
						for (var i = 0; i < this.tasks.length; i++) {
							if (this.tasks[i].id == taskId) {
								this.tasks[i].assigned_id = this.$store.state.user.id;
								break;
							}							
						}
					})
			},
			unAssignTask(taskId){
				let params = {
					assigned_id: 0,
				}

				axios.put(`tasks/${taskId}`, params)
					.then(response => {
						for (var i = 0; i < this.tasks.length; i++) {
							if (this.tasks[i].id == taskId) {
								this.tasks[i].assigned_id = null;
								break;
							}							
						}
					})
			}
		}
	}

</script>