<template>
	<div>
		<div name="list user story" class="ui middle aligned selection divided pushable list" style="margin:0px; max-height: 450px" v-if="isUpdate">
			<div v-for="(userstory, index) in data.slice(0, 12 * page)" :key="userstory.id" class="item" title="click to open detail" @click="openModalEx(index, userstory.id)">
				<div class="right floated content">
					<priority :priority="userstory.priority"/>
				</div>
				<div class="right floated content">
				    <div v-for="label in userstory.labels" class="ui horizontal label" :class="label.label_color">{{ label.label_name }}</div>
				</div>
			    <div class="content">
			        <div class="header">{{ userstory.number_user_story }} | {{ userstory.user_story }}</div>
			    </div>
			</div>
			<div class="item" v-show="data.length > (12 * page)" @click="page++">
				<div class="content"> 
					<button class="fluid ui button">Load More...</button>
				</div>
			</div>
	    </div>
	    <!-- modal task -->
		<modal 
			:type="`detailUserstory`" 
			@callback="detailUs" 
			:isHeader="false"
			:isScrolling="true"
			:isPositive="false"
			btnCancel="Close">

	    	<p slot="title" v-if="user_story_index != null">User Story !{{ data[user_story_index].number_user_story }}</p>
	    	<div slot="content">
	    		<div class="ui grid">	    			
		    		<div class="eleven wide column" v-if="user_story_index != null">
			    		<h3 class="ui header">
			    			<user-story
			    				:userStory="data[user_story_index].user_story"
			    				@callback="update"/>
			  				<div class="sub header">
			  					<desc-userstory 
			  						:description="data[user_story_index].description"
			  						@callback="update"/>
			  				</div>
			    		</h3>

			    		<h4 class="ui header" style="padding-left: 0.3rem">
			    			Tasks
			    		</h4>

			    		<div class="field">
			    			<!-- list item task -->
			    			<tasks :tasks="$store.state.tasks.data"></tasks>
			    			<!-- input task -->
							<div class="ui fluid action input">
							  	<input type="text" placeholder="Add Task" v-model="form.task">
							  	<button class="ui button" @click="addT">Add Task</button>
							</div>
		                </div>
		    		</div>
		    		<div class="five wide column">
		    			<!-- <div class="ui red fluid basic button" @click="removeUs">
		    				<i class="remove icon"></i>
		    				Delete
		    			</div> -->
		    			<div class="ui labeled icon pointing dropdown">
		    				<div class="ui fluid red button">
		                        Delete
		                    </div>
				            <div class="menu">
				                <div class="header">
				                    Are you sure?
				                </div>                            
				                <div class="item" @click="removeUs">
				                    <div class="ui positive right fluid button mini">
				                        Yes
				                    </div>
				                </div>
				            </div>
				        </div>
			    		<h4 class="ui header">
			    			Labels
			    		</h4>
			    		<labels 
			    			:labels="$store.state.labels.data"
			    			id="detailLabels"
			    			idb="detailLabel"/>			    		
			    		<priority-dropdown 
			    			id="editPriorities"
			    			idb="editPriority"/>
		    		</div>
	    		</div>
		    </div>
	    </modal>
	</div>
</template>

<style>
	.textUserStory{
		font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	    font-weight: bold;
	    line-height: 1.28571429em;
	    text-transform: none;
	    color: rgba(0, 0, 0, 0.87);
	}
	.small.editable{
		padding: 0.5rem;
	}
	.small.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}

	.editable{
		padding: 0.7rem;
	}
	.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}
</style>

<script>
	import { mapActions } from 'vuex';
	import Modal from '../Modal';
	import UserStory from './UserStory';
	import DescUserstory from './DescUserstory';
	import Tasks from './Tasks';
	import Labels from './Labels';
	import Priority from './Priority';
	import PriorityDropdown from './PriorityDropdown';

	export default{
		props:['data'],
		data: function(){
			return{
				page: 1,
				user_story_index: null,
				user_story_id: null,
				form: {
					task: '',
				},
				isUpdate: true,
				isUpdateLabels: true,
				dataLabel: null,
				dataPriority: null,
			}
		},
		mounted(){
			this.initMembers(this.$route.params.projectId);
		},
		methods: {
			...mapActions(['openModal','initTasks','initLabels', 'addTask', 'updateUserstory','deleteUserstory','initMembers']),
			openModalEx(index, userstoryId){
				this.user_story_index = index;
				this.user_story_id = userstoryId;
				this.openModal(`detailUserstory`);
				this.initTasks(userstoryId);
				this.initDataLabel();
				this.handlerLabels();
				this.handlerPriority();
			},
			initDataLabel(){
				let data = [];
				let index = this.user_story_index;
				if (index != null) {					
					for (var i = 0; i < this.data[index].labels.length; i++) {
						data.push(String(this.data[index].labels[i].label_id))
					}
				}

				this.dataLabel=data;
				this.dataPriority=this.data[index].priority;
			},
			handlerPriority(){
				self = this;
				$('#editPriorities').dropdown('destroy');
				$('#editPriorities').dropdown('clear').dropdown('set selected', this.dataPriority);
				$("#editPriorities").dropdown({
				    onChange: function (val) {				    	
				    	let params = {priority : val};
				    	let callback = self.updateUserstory([self.user_story_id, params]);
				    	callback.then(response => {
							self.refresh();
						});
				    }
				});
			},
			handlerLabels(){
				self = this;
				$('#detailLabels').dropdown('destroy');
				$('#detailLabels').dropdown('clear').dropdown('set selected', this.dataLabel);
				$("#detailLabels").dropdown({
				    onAdd: function (val) {
				    	let params = {labels : {action: 'add',label_id: val}};
				    	let callback = self.updateUserstory([self.user_story_id, params]);
				    	callback.then(response => {
							self.refresh();
						});
				    },
				    onRemove: function (val) {
				    	let params = {labels : {action: 'delete',label_id: val}};
				    	let callback = self.updateUserstory([self.user_story_id, params]);
				    	callback.then(response => {
							self.refresh();
						});
				    }
				});
			},
			detailUs(){

			},
			addT(){
				if (this.form.task == '') {
					this.$noty.warning("Please insert task field!");
				} else {
					let callback = this.addTask([this.user_story_id,this.form]);
					callback.then(response => {
						this.form.task = '';
					})
				}				
			},
			update(form){
				let callback = this.updateUserstory([this.user_story_id, form]);
				callback.then(response => {
					this.refresh();
				});
			},
			refresh(){
				this.isUpdate = false;
				this.$nextTick(() => {
					this.isUpdate = true;
				});	
			},
			removeUs(){
				let data = this.user_story_index;
				this.deleteUserstory(this.user_story_id);
				$('#detailUserstory').modal('hide');
				this.user_story_index = null;
				this.data.splice(data, 1);
			}
		},
		components: {
			'modal': Modal,
			UserStory, DescUserstory, Tasks, Labels, Priority,PriorityDropdown
		},
	}
</script>