<template>
	<div>
		<div 
			class="editable" 
			v-show="!isEditUserStory" 
			@click="editUserStory(true)"
			v-text="form.user_story">
		</div>
		<div class="ui form" v-show="isEditUserStory">
		  	<textarea 
		  		ref="etUserStory"
		  		class="textUserStory"
		  		@blur="editUserStory(false)"
		  		rows="1"
		  		style="padding:0.5rem;font-size: 1.28571429rem;"
		  		v-model="form.user_story">
		  	</textarea>
		</div>
	</div>
</template>

<style>
	.textUserStory{
		font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	    font-weight: bold;
	    line-height: 1.28571429em;
	    text-transform: none;
	    color: rgba(0, 0, 0, 0.87);
	}
	.editable{
		padding: 0.5rem;
	}
	.editable:hover{
		background-color: rgb(241, 244, 245);
		border-radius: 0.5rem;
	}
</style>

<script>
	export default{
		props:['userStory'],
		data(){
			return{
				isEditUserStory : false,
			}
		},
		methods:{			
			editUserStory(state){
				this.isEditUserStory = state;
				if (state) {
					this.$nextTick(() => this.$refs.etUserStory.focus())
				} else {					
					this.$emit('callback', this.form);
				}
			},
		},
		computed: {
			form: function(){
				const data = { user_story: this.userStory };
				return data;
			}
		}
	}
</script>