<template>
	<div class="ui teal segment" style="margin-top: 1rem; height: 28rem">
		<h2 class="ui header">
			<i class="mail icon"></i>
    		<div class="content">
      			Message
      			<div class="sub header">This is reminder message</div>
    		</div>
  		</h2>
  		<div class="ui clearing basic segment pushable" style="max-height: 22rem">
	  		<div class="ui clearing basic segment">
  	  		<div class="ui icon message" v-for="data in messages" v-if="messages.length != 0">
      			  <i class="inbox icon"></i>
      			  <div class="content">
      			    <div class="header">
      			      {{ data.message }}
      			    </div>
      			    <p>{{ data.details }}</p>
      			  </div>
      		</div>
          <div style="height: 15rem" v-if="messages.length == 0">
            <h2 class="ui center aligned icon header" style="margin-top: 2rem">
              <i class="warning circle icon"></i>
              Empty Messages
            </h2>
          </div>
	  		</div>
  		</div>			    	  	  		
	</div>
</template>

<script>
    import { mapActions } from 'vuex';

	export default{
        methods: {
            ...mapActions(['initMessagesUser']),
        },
        mounted(){
            this.initMessagesUser(this.$store.state.user.id);
        },
        computed: {
            messages: function() {
              return this.$store.state.messages.data;
            }
        }
    }
</script>