<template>
		<div class="ui clearing teal segment">
	  		<h2 class="ui header">
				<i class="bookmark icon"></i>
	    		<div class="content">
	      			Projects
	      			<div class="sub header">List of your projects</div>
	    		</div>
	  		</h2>
	  		 <div name="list-project" class="ui middle aligned relaxed divided list selection" style="margin-bottom: 0px;">
		          <router-link :to="{ path: `/projects/${project.project_id}` }" class="item" v-for="(project, index) in projects.slice(0,3)" :key="project.id" @click="routeProject(project.id)" v-if="projects.length > 0">
		              <div class="right floated content mobile hidden">
		                  as {{ project.role }}
		                  <i class="user icon"></i>{{ project.project.member }}
		              </div>
		              <a class="ui avatar image red circular label">P</a>
		              <div class="content">
		                  <div class="header"><a>{{ project.project.project_name }}</a></div>
		                  <p>{{ project.project.description }}</p>
		              </div>
		          </router-link>
		          <div style="height: 8rem" v-if="projects.length == 0">
		            <h2 class="ui center aligned icon header" style="margin-top: 2rem">
		              <i class="warning circle icon"></i>
		              Empty Projects
		            </h2>
		          </div>
		      </div>  		  	
			<router-link :to="{name:'projects'}">
  		  		<div class="ui right floated primary button">See more</div>
			</router-link>
		</div>
</template>

<script>
	import { mapActions } from 'vuex';

	export default{
		methods: {
			...mapActions(['initProjects']),
		},
		created(){
			this.initProjects(this.$store.state.user.id);
		},
		computed :{
			projects () {
				return this.$store.state.projects.data;
			},
			is_loading () {
				return this.$store.state.projects.is_loading;
			}
		}
	}
</script>